[2019-12-17 17:59] rnhaddad commented on #140
Happens very frequently in fact. To resolve, i have to re-open some files.

[2019-12-18 04:02] #139 closed

[2019-12-18 04:13] eteran commented on #24
Solved by issue #139

Now script data is in structured YAML files, so we could in principle have entries which have a `script: lua` if it is intended to be run as LUA code.

[2019-12-18 04:13] #24 closed

[2019-12-18 15:51] eteran opened #142 "Replace `-import` mechanism"
The original nedit had a concept of overlaying your current config file with another by using `-import`. This made sense in the past when everything was contained in a single file, but things are more divided up now. So we need a better way of handling this:

@marilmanen, I know you use `-import`, which I don't **think** was broken by the YAML changes...yet, but I'd like to come up with a better s

[2019-12-18 15:53] eteran commented on #140
@anjohnson @rnhaddad Are you both also using a remote desktop of some kind? Also, what distro are you guys using, it makes me wonder if it's a Qt bug you're encountering... I dunno.

I've never had this happen to me, so I'm not quite sure where to start when looking into it yet, but I'll see what I can come up with.

[2019-12-18 16:50] anjohnson commented on #140
I am not using a remote desktop; my setup is a pair of monitors connected to a single NVIDIA Quadro 2000 card with the X11 server on RHEL-7.7, Linux 3.10.0-862.6.3.el7.x86_64 with `DISPLAY=:0`. The libQt* RPMs that nedit-ng is linking against are:
[code]

I don't get these symptoms very often and haven't seen them in several months now so I can't be sure if they are still happening. It sounds like

[2019-12-30 04:31] marilmanen commented on #142
Current import option has been a bit of a problem for me as I have been trying to maintain common configs for a group of people (like macros and window background menu) with the possibility for any user to change some of the other settings settings (line numbers, tab sorting etc) in his own home directory config.ini file. With the import option this has been working as long as imported file has no

[2019-12-30 06:11] marilmanen opened #145 "macro issue causing heavy system load"
I use a macro for searching text from my files and sometimes it causes heavy system load (can be seen as very fast cursor blinking rate). Issue seems to be related cursor focus with detached tabs and it looks like it requires a random amount of macro iterations or at least I have not found a simple way to reproduce the issue. Consecutive selections with focus changing between files in different ta

[2019-12-30 15:34] eteran commented on #142
You are using it for something it wasn't designed for, so, yea, you'll get some quirks with that.

I'll take into consideration the idea of local and global configs... Because that's what you REALLY want, and that's not what import really does.

But I can't make any promises it'll happen soon because it would require a pretty big change to the code to support properly. Thanks for letting me know t

[2019-12-31 05:43] eteran commented on #145
Interesting, I'll look into it

[2020-01-01 22:16] lester96 opened #146 "adjusting syntax highlighting for plain text files"
When nedit doesn't know what kind of file it is opening, it opens it as a plain text file. But I can't find a way to set the syntax highlighting for this kind of file. It doesn't show up in recognition patterns as a language mode, so there is not a way to change what the default is. What I would really like to do is turn off backlighting by default for plain text files. I can create a "Plain" text

[2020-01-02 00:31] eteran commented on #146
Yup, definitely an enhancement, but a seemingly reasonable one. I'll check it out :-)

[2020-01-02 15:43] eteran commented on #136
@anjohnson Any update on this? Is your fork's wiki in pretty good shape to merge? I took a quick look and in general, it seems to be pretty good.

The only quirk is that I think we can do better than just the numbers for page titles.

Besides that, we can ditch a few sections too since they are pretty specific to the original nedit, most obviously would be the "Reporting Defects" section.

[2020-01-02 15:45] eteran commented on #136
Oh, also, we may want to switch from a wiki to a "github pages" format (would be pretty easy to do). That would allow us to have a nice dedicated page with a table of contents sidebar. It would be very easy to switch, so you don't need to concern yourself with that detail :-).

[2020-01-02 17:52] anjohnson commented on #136
@eteran Sorry I haven't worked on merging your changes yet, so most of the wording in my Wiki is still from the original text. I will look for some time in the next few days to get back to that.

The thing about GitHub's Wiki pages is that the page titles are taken from the Git filenames and hence from the page URLs. The original help text used the numbered pages for all the cross-links between pa

[2020-01-02 20:07] eteran commented on #136
My main thought on help is that it'll be "online" The various help buttons will simply open the user's browser to the correct section of the help documentation.

[2020-01-03 06:12] anjohnson commented on #136
Okay, I thought you might say that, which is fine (except when the user is offline). One request would be to provide a configuration parameter that allows the base URL for the Help pages to be changed, for example to a local (file://) mirror.

I think I have now applied equivalent changes to the Regex pages that you made to your versions, and have also made various other updates.

Pages 28 and abo

[2020-01-03 18:04] eteran commented on #136
Sure, that's definitely something we can work in there. So do you feel it's in a state that I should try to set up the GitHub pages system for it yet? Or are you planning a little more work first?

[2020-01-03 19:12] anjohnson commented on #136
I would like to make another pass through all of the pages checking for more formatting errors and minor updates (I didn't do all of them yet, hopefully over the weekend), but I don't want to hold you up. I don't know what kind of structure if any you're planning to add, but maybe you could start the gh-pages branch from the tip of my wiki repo (using a [Subtree Merge](https://git-scm.com/book/en/

[2020-01-03 19:35] eteran commented on #136
I'll have to look into the subtree merge thing :-)

As for the versioning, maybe tags in that branch can handle that? Dunno, The documentation shouldn't need to change too often, so I wasn't too concerned about it. Though I do have some large preference changes planned, so that part will need to be rewritten eventually.

[2020-01-04 21:30] anjohnson commented on #136
The versioning requirement means that all versions of the documentation will have to be online at version-specific URLs, so branch tags on a gh-pages branch won't help. However you could use git submodules or do multiple subtree merges of different version branches into different places in the gh-pages repo to implement versioning.

To support translations in the future the language name would als

[2020-01-04 21:42] anjohnson opened #147 "File Open keystrokes"
The Getting Started help document has a section called [Shortcuts](https://github.com/anjohnson/nedit-ng/wiki/01#shortcuts) which describes navigating the File Open dialog box thusly:

The keystrokes described no longer work exactly as they used to, I have to press Down-arrow before Return to select the specific file from the drop-down list where the Qt dialog presents the matching filename choice

[2020-01-04 23:08] eteran commented on #147
Yea, since we use native/Qt file dialogs the special cases outlines for the custom nedit ones should be trimmed out.

Honestly, much of the early segments of the help could be rewritten/reworked as it was written before GUI text editors were super common on UNIX and users today (unlike when nedit first came out) can be expected to have a basic understanding of mouse/keyboard interaction for GUI pr

[2020-01-04 23:09] eteran commented on #147
Closing since it's more of a question than a bug.

[2020-01-04 23:09] #147 closed

[2020-01-04 23:12] eteran commented on #136
Once we get a first version up, I'll look into how to best deal with multiple versions. My initial plan is to use a "Read the Docs" template generated with mkdocs (like here https://www.mkdocs.org/user-guide/deploying-your-docs/).

I think I read somewhere that they support versioning with git tags, I'll double-check though.

Probably a good idea to replace NEdit with NEdit-ng throughout.

[2020-01-04 23:13] eteran commented on #136
Translations are an interesting thought, I hadn't considered it even though it's pretty obvious. Probably can be handled nicely with a language sub-dir like:

[code]
etc...

[2020-01-05 20:46] anjohnson commented on #136
NEdit-ng currently only has UI translations for French and those do have to be compiled in, but the thing about documentation and online help texts is that they may be offered later for earlier releases, so it would be nice if the code can at least look for help in other languages in case it appears later.

It should also be possible to update the English version after the release, but a user shou

[2020-01-06 00:11] eteran commented on #136
That's a fair point about versions. We may need to use directories instead of tags, though I think we can tackle it after we have help at all ;-) I'll be sure to not make it so things in NEdit-ng's code makes too many assumptions about where the help is located once that part is added.

Regarding those pages, I'll take a look at keep/remove them as needed.

Regarding Action/Macro routines. classic

[2020-01-06 17:11] eteran commented on #136
It's still in need of a little tweaking, but it's up! Check it out at:

https://eteran.github.io/nedit-ng/

I'll be playing with it a little more to clean up to little details, but going forward, it should be super easy to maintain :-D

(But yea, I still need to sort out version and language concerns, but this is a huge start, thanks so much for your efforts on this).

[2020-01-06 19:27] anjohnson commented on #136
Looks great. Something's up with the title for 14 in the sidebar index, but you've probably seen that already (looks like it comes from a typo in the docs/mkdocs.yml file). I've found a few more places in the text where I could do some more formatting fixes, but I'm not sure when I'll get time for them now. I see you've put the help files in the nedit-ng/docs/ directory, presumably the best way to

[2020-01-06 19:52] eteran commented on #136
Yea saw the issue with "Finding Declarations", it was indeed a typo. I'm going through and making small tweaks as I go. So there will be lots of improvements in the new few days.

Yes, definitely please make PRs against the master branch sources. the gh-pages branch simply has the final product of the documentation.

I agree about the hyphenated names, the thing with them is that `-` is also an op

[2020-01-06 20:06] eteran commented on #136
We actually do have a short blurb about hyphens in names being deprecated here: https://eteran.github.io/nedit-ng/24/#deprecated-functions

Though it could be a little clearer about it not only being deprecated but being no longer supported.

[2020-01-07 19:17] eteran commented on #136
I have been going through the docs and making small tweaks as I go, about 10 pages done!

I am making some standardizing changes in formatting and grammar and making things clear, concise and consistent.

Menus will be referred to like this: **Edit &rarr; Copy**
We don't say " Use the **Edit &rarr; Copy** menu item.
We say "Use **Edit &rarr; Copy**".

Keyboard buttons will be referred to like this

[2020-01-08 19:41] eteran commented on #136
@anjohnson

OK, I've gone through every page and updated things to be consistent and clear. I'm probably mostly done with the actual changes the help text (I MAY do a general "grammar / spelling" check on it, but that's about it).

Of course, feel free to open any PRs regarding the help text as you see the need to. My next focus will be thinking about versioning support and then wiring up all the

[2020-01-08 20:12] eteran commented on #136
Versioning support is ready!

Translations may not be as easy, I'll have to look into that...

But now you can get help for a specific version with URLs like this: https://eteran.github.io/nedit-ng/2019.4/

NEdit-ng will be sure to use the version when refering to them in the code so that they are stable over time :+1:

[2020-01-09 10:30] jahodb opened #148 "Syntax highlighting Pass-2 - different behavior Nedit x Nedit-gn"
I am using Nedit 5.6 now. I imported all settings including syntax highlighting by the help of command nedit-import to the Nedit-gn. Usually I use option "Pass-2 (parsing is deferred until text is exposed)" in the definition of patterns. There is different behaviour between Nedit 5.6 and Nedit-gn 2019.3/2019.4. Syntax highlighting is not updated after the text modification in Nedit-ng.
I have to s

[2020-01-09 13:16] eteran commented on #148
Hmm, sounds like a bug. The rules **should** behave exactly as they do in NEdit 5.6.

Can you provide your highlight patterns and an example of the syntax which is expected to be highlighted but isn't?

[2020-01-10 09:52] jahodb commented on #148
I sent you the example files via eBox. As the contact e-mail I have used evan.teran@gmail.com. At this email the link for downloading will be sent automatically.Tar file contains:
- my configuration files:
  - config.ini
  - theme.xml
- example ASCII file example.inc - there are 6 lines - every odd one is correct and every even is not
- two screen shots with the result of the highlighting:
  - aft

[2020-01-10 14:14] eteran commented on #148
Thanks, I'll check it out ASAP

[2020-01-12 14:51] geimer opened #149 "Font issue"
I'm experiencing a weird font issue. When using, for example, the "DejaVu Sans Mono" font family and syntax highlighting enabled, keywords are in bold (as expected). With other fonts (e.g., "Courier", "Hack" or "Noto Mono"), however, they are not. Instead, the regular text font is used. In all cases, the corresponding font files are installed and picked up by other editors, e.g., `kate`. Also, ita

[2020-01-13 05:31] marilmanen opened #150 "crash with macro with shell_command in while loop"
I created a macro that will cause crash in nedit-ng, but not in nedit (it's a dummy modification of the real macro that I want to use)

open README.md in nedit-ng source directory, add following macro and execute it.  Select any on the LICENSE.md lines and pressing OK causes the crash. Selecting any of the README.md lines does not cause a crash.

[code]

[2020-01-13 13:52] eteran commented on #149
Do you happen to be using KDE? There is a known bug with KDE and fonts (and has a relatively easy work around).

See https://bugs.kde.org/show_bug.cgi?id=378523

The solution is basically to open `.config/kdeglobalsrc` and remove `,Regular` from any font entries you see. Log out and log back in and then Qt apps should be able to properly request bold/italic fonts reliably.

Let me know if that sol

[2020-01-13 13:57] eteran commented on #150
Man, you are good at finding these corner cases! I'll check it out :-)

[2020-01-13 14:35] geimer commented on #149
Yes, I'm using KDE.  However, there are no font entries in my `.config/kdeglobals`...

[2020-01-13 15:19] eteran commented on #149
Just to satisfy my curiosity... could you attach your `.config/kdeglobals` file? Mine definitely has several font entries scattered throughout it.

[2020-01-13 15:56] geimer commented on #149
The system has been set up just recently and I haven't tinkered with the global font settings yet. That may explain why I don't have such entries. But anyway, here you go:
[code]

[2020-01-13 16:12] eteran commented on #149
OK, you're right, there are indeed no font entries in there :-).

I'll see what I can do to look into this.

[2020-01-13 16:26] eteran commented on #150
It should be fixed in master now. Please be advised that the latest in master has my YAML config file refactoring. It should auto-convert your config files as needed.

Please re-open this issue as needed :-).

[2020-01-13 16:26] #150 closed

[2020-01-14 09:23] jahodb commented on #149
I can confirm the same behaviour. My configuration:
SUSE Linux Enterprise Desktop 12 (x86_64)
VERSION = 12
PATCHLEVEL = 4
Plasma 5.12 (2018-03-23)

There was only one entry with the string "Regular" in my ~/.config/kdeglobals :
toolBarFont=Noto Sans,10,-1,5,50,0,0,0,0,0,Regular

I removed the string and restarted, but it did not help. Du you have some other tips, thanks.

[2020-01-14 09:40] jahodb commented on #149
One comment more - list of fonts for them bold style works:
- B&H Lucida Typewriter
- Bitstream Vera Sans Mono
- DejaVu Sans Mono
- Symbol Neu

[2020-01-14 13:59] eteran commented on #149
Unfortunately, I'm not sure offhand, but I'm going to explore the issue a bit. It's odd that it works for some, but not others.

I was really hopeful that it was what I thought it was, but it seems that it's a separate bug :-(.

[2020-01-15 04:29] anjohnson commented on #136
Wunderbar! I think you got the last few bits I remember needed fixing; if I do come across anything I will submit a PR. Thanks!

BTW I love the way the yaml files turned out too, they're _so_ much easier to read now.

[2020-01-15 13:43] eteran commented on #136
Great to hear!

I'm going to close this now that the master branch has all the help buttons wired up. I'm sure that there is the potential for more improvement over time, but I think we've satisfied this issue.

Thanks again for your help!

[2020-01-15 13:43] #136 closed

[2020-01-16 05:39] marilmanen commented on #146
I have similar issue as I want to create a macro that would be available for Perl and Plain files, but that is not possible. I even added a new language Text to languages.yaml file
[code]

but it looks like the regex has preference over extension setting and thus all files that are recognized by regex (why not empty files?) will become of type Text no matter what the file extension is. This is how

[2020-01-17 13:38] eteran commented on #146
@marilmanen when you add that to the languages.yaml file, did you put it at the very end? I believe that they are processed in order and the first match wins. So you'd almost certainly want to place that last.

[2020-01-17 13:40] eteran commented on #146
Ahh, I see, yes regex testing definitely is done before extensions. Really, what we need to do is have first-class support for specifying these things for plain text files. I'll look into what the best way to add that would be.

[2020-01-17 16:21] anjohnson commented on #146
While you're looking at this area… I have a common use case where I would like to use a regex on the filename for language recognition because these files have a name prefix, not a suffix (e.g. `Makefile.in`). There's no way to configure that with the currently available controls, so every time I edit these kinds of files I have to manually set their language.

[2020-01-17 18:06] eteran commented on #146
Will do

[2020-01-21 19:40] eteran commented on #148
So my understanding is that editing the two long lines should toggle the first portion of them to be green background or not based on if they are over 80 chars. Correct?

And that while the patterns seem to match correctly, they don't seem to be updated live?

[2020-01-21 21:47] eteran opened #151 "X Resource highlight patterns have "catastrophic backtracking""
The "Resource Continued" pattern of:

[code]

Effectively hangs `NEdit-ng` (and `nedit`) for some inputs. Something as simple as this causes things to hang indefinitely:

[code]

After debugging the issue, it does technically to "make progress", but that is only a technicality. The speed down is exponential so it quickly goes from seconds to parse, to minutes, to days, to years, etc...

This seems

[2020-01-22 07:48] jahodb commented on #148
Exactly. If the length of the line is greater than 80 characters, the background for the first 80 characters is changed to green and the background of the rest of the line is red - see result_after_loading.png. If I edit the text, the syntax highlighting is updated for edited part of the string only - see result_after_editing.png. If I do the same in NEdit 5.6 the syntax highlighting is updated fo

[2020-01-22 12:46] eteran commented on #148
Could you send me (it's easy to attach in here BTW) your classic nedit highlight rules just so it's easier for me to compare behaviors?

[2020-01-22 18:11] eteran commented on #148
So a couple of things:

1. I manually made the same settings in classic nedit since it wasn't **that** much :-)

2. I am seeing what appears to be identical behavior in classic NEdit and NEdit-ng. Are you **sure** this worked in the original NEdit as you expect?

3. I agree that it is a bug... but it may be hard to figure out the fix since I was hoping to be able to compare the code paths of the n

[2020-01-22 18:40] eteran commented on #148
![simplescreenrecorder-2020-01-22_13 35 20](https://user-images.githubusercontent.com/571477/72923276-bac3e380-3d1c-11ea-97e1-83235f9effba.gif)

I really don't see any difference in behavior :-/

[2020-01-23 07:54] jahodb commented on #148
My rc file for NEdit 5.6. is quite complex, therefore I wanted to prepare simpler example (there is added syntax highlighting for the *.inc file only). If I use this setup the NEdit 5.6. behaves like yours in the movie above = highlighting is not updated for the whole line. But if I use my original rc file NEdit behaves correctly in my opinion. Probably there is some other setting, that influences

[2020-01-23 12:21] jahodb commented on #148
I think I have found it. There is small mistake in the pattern definition in the file nedit.rc_original - the Pattern type: "Pass 1 (applied ...)" is used for the last pattern named "ToFillIn". If I add this definition into file nedit.rc_simpler_examle the behaviour of the NEdit 5.6 is correct. It seems, usage of this single pattern causes update of the highlighting. The same process helps also in

[2020-01-23 12:58] eteran commented on #148
So I I understand correctly, then with that additional pattern, nedit-ng still acts like classic nedit?

[2020-01-23 13:31] jahodb commented on #148
Exactly. The behaviour of both NEdits is the same now. Disadvantage of this "work around" is higher time consumption. I can live with this, but if it is possible to fix it, it would be better :-).

[2020-01-26 07:11] marilmanen commented on #111
I found a simple way to get false externally modified file notification.
[code]
If I keep running this macro several times by keeping Ctrl+K pressed, the pop-up message of "file modified externally" will eventually come. I tried couple of times and fastest message came after 32 repeats and slowest after 694 repeats. With old NEdit I'm not able to get the message even after 3000 repeats and I also

[2020-01-31 04:52] marilmanen opened #152 "filename_dialog macro pop-up layout"
This is a minor issue, but I noticed that the layout format for file open dialog is different if using `Ctrl+O` or `filename_dialog()` subroutine.

[2020-02-01 20:27] mray271 opened #153 "Diagonal resize of Window at lower right corner not available"
In the X11 version of NEdit it's possible to resize width and height simultaneously by diagonal drag using a hotspot at the lower right corner of every window.  This doesn't appear in the QT nedit-ng version and end-user needs to do an inefficient series of vertical and horizontal adjustments.

This could be a QT windowing issue unrelated to nedit-ng specifically.

[2020-02-01 21:24] mray271 commented on #153
Nevermind. Just upgraded to latest release on master and diagonal drag/resize is available now.

[2020-02-01 21:24] #153 closed

[2020-02-05 04:49] eteran commented on #152
Should be addressed. I didnt give the dialog for "exists" the same treatment yet though.

[2020-02-05 04:49] #152 closed

[2020-02-05 04:54] eteran commented on #133
This seems to be have been fixed incidentally. Please re-open if the problem persists.

[2020-02-05 04:54] #133 closed

[2020-02-05 04:59] #70 closed

[2020-02-05 14:54] eteran commented on #149
This may be fixed in the lastest master/release (hard to say since I haven't reproduced the problem specifically). Please give things a try and let me know if it fixes the issue.

[2020-02-11 10:46] jahodb commented on #149
It seems to be much better - most of fonts work fine. According to my quick test the bold style does not work for: cursor.pcf, deccurs.pcf, decsess.pcf, Schumacher clean, Sony Fixed. Thanks.

[2020-02-12 04:48] eteran commented on #149
Awesome.

[2020-02-12 04:48] #149 closed

[2020-02-17 12:11] mmorandi opened #154 "removed setting functions (e.g. set_use_tabs)"
I used to have a smart tab rule for python, trying to move to space-based tab only for python, i.e.
[code]
for "Languace specific initialization macro" and
[code]
for Newline Macro. Since https://github.com/eteran/nedit-ng/commit/1af84c46287489fea0ab2761b022a2453a553238 and the removal of ```set_use_tabs``` I do not have clear how this should be modified.

Thank you,

Marco

[2020-02-17 13:26] eteran commented on #154
Ah, sorry for that inconvenience. What if each language mode was given the ability to override tab settings as it can for word delimiters and similar? I Feel like that's a better solution.

[2020-02-17 13:32] mmorandi commented on #154
Yes, it would be definitely better!

[2020-02-18 16:59] eteran commented on #154
OK, a new setting has been adding to the `$HOME/.config/nedit/languages.yaml`.

You were always able to have custom tab-stops per language, but now you can also control whether or not tabs are used at all.

Language mode section for python looks like this:

[code]

The last two lines are added from the defaults, and `insert_tabs` is a new capability.

`em_tab_distance: 4` means "when inserting a f

[2020-02-18 16:59] eteran commented on #154
I plan to also add something for this new feature in the UI as well.

[2020-02-18 22:08] anjohnson commented on #154
Yay! Please set the default language mode setting for Makefiles to `insert_tabs: true`

[2020-02-19 12:36] mmorandi commented on #154
Works like a charm. Thank you!

[2020-02-20 02:20] eteran commented on #154
OK, Makefile now defaults to hardware tabs, python now defaults to emulated tabs, and now there is a UI for toggling it in the language modes dialog (it's a new tri-state checkbox that is one of yes/no/use global setting).

Closing this issue as we've implement a better solution than the original macro based one.

[2020-02-20 02:20] #154 closed

[2020-03-05 20:37] eteran commented on #148
Just updating the category of this issue. It's not *technically* a bug since we are correctly replicating the behavior of classic nedit... but this should be fixed. So I'm considering it a "major enhancement"

[2020-03-10 22:45] Rimpire commented on #88
I cannot find any binary among 2019.2 tag files. Am i looking at the wrong place ?

[2020-03-10 22:48] Rimpire opened #157 "Code folding?"
I am using nedit on daily basis, mainly due to the nested custom Syntax highlighting capabilities which I can't find in any other editor. nedit-ng was a nice find indeed!
Almost all of the modern editors and IDE's now support code folding. Is it even feasable to implement this in nedit-ng ?

[2020-03-11 01:38] eteran commented on #88
@Rimpire no, I just haven't gotten around to uploading a windows build. I'll have to add that to be part of my release process. Coming soon!

[2020-03-11 01:39] eteran commented on #157
It is feasible and should be added! I'll add it to the TODO list :-)

[2020-03-13 18:16] rnhaddad opened #158 "window size not opening correctly"
I could not find this issue (i think there was one related to this already), so i am creating a new one:

First some info:
git show
commit e6c55dceb6ab718006d86a88db2f0ce325c31a50 (HEAD -> master, origin/master, origin/HEAD)

config.ini (relevant params):
nedit.textCols=80
nedit.textRows=50

cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAM

[2020-03-13 23:57] lester96 opened #159 "The building nedit on windows guide is incomplete"
Now Git also needs to be added as a dependency.  Also it would have been helpful if an approximate list of what Qt dependencies are needed to be added to get nedit to run outside of QtCreator. This latter would have saved me considerable time.

[2020-03-14 00:05] lester96 opened #160 "NEdit does not get the correct path to a file when used to open a file in Windows Explorer"
When I right click on a file in windows explorer and and do an "open with" to use nedit, nedit tries to open a file using a path of "C:/Windows/system32/"prefixing the full path to the file. This obviously doesn't work, and opens a blank window with a popup error message. The path it tried to open is also lost, so that you have to browse the final location. This was a problem with the prior Window

[2020-03-14 00:32] eteran commented on #159
I'll see what I can do to improve it. Though the git dependency is kinda implicit given that you need git to check out the repo :-P

[2020-03-14 00:33] eteran commented on #160
Interesting, I'll check it out.

[2020-03-16 20:26] lester96 commented on #159
Actually, you can download the zip file without having Git installed.

[2020-03-16 21:01] eteran commented on #159
Isn't that the only part of the build that REQUIRES got?

[2020-03-17 17:51] lester96 commented on #159
When I ran across it asking for it, I presumed it was related to the new help files. When I click on help, it opens a browser on github.

[2020-03-17 17:56] eteran commented on #159
Yes, you certainly don't need a local install of git to use the help feature, it's just that the help docs are hosted by github pages.

[2020-03-17 18:11] lester96 commented on #159
OK, maybe it was from trying to use Visual Studio, which I tried at one point when I couldn't get a successful build (I had mismatched requirements). It probably was trying to check out the repo at that point.

[2020-03-20 21:20] Rimpire opened #161 "Building Portable Version for Linux"
This is more of a question rather than an issue.
I am not able to compile nedit-ng on all of Linux systems I am using, since some are missing dependencies and I have no root access on them.
Is there a way to build a portable executable with all dependencies included in the build folder ?
I am very novice to cmake searching around I tried to use the pointers [from here](https://stackoverflow.com/qu

[2020-03-21 21:35] eteran commented on #161
Definitely should be doable, I'll look into what it takes!

[2020-03-25 03:17] eteran commented on #160
I **think** I know what the problem is. My guess is that nedit-ng is testing for an "absolute" path by checking if the path starts with a `"/"`. On windows, it doesn't, so it appends the current working directory of the application, which is `"C:/Windows/System32/".

I'll confirm this and try to get a patch in there for ya.

[2020-03-25 03:58] eteran commented on #160
I almost had it right, it was a quirk with path parsing regarding `"\"` and `"/"`. Should be fixed now though!

[2020-03-25 03:58] #160 closed

[2020-04-26 17:51] aks2161989 opened #162 "Learn/replay option in "repeat..." is always deactivated (Windows 10)"
The learn/replay button in "repeat..." option is always deactivated (even after recording a macro). I am on Windows 10.

[2020-04-26 22:11] eteran commented on #162
Interesting, I'll have to look into it. Thanks!

[2020-06-24 11:43] cgdae opened #163 "Escaping double % and # in shell commands"
I think nedit-ng doesn't treat %% as % in shell commands, like nedit does.

I've attached a patch that fixes this, and also escapes ## in the same way.

[shell-commands-patch.txt](https://github.com/eteran/nedit-ng/files/4825104/shell-commands-patch.txt)

[2020-06-27 03:10] eteran commented on #163
You are completely right, I'll take a look at the patch and see what I can do :-).

Thanks for the report!

[2020-07-09 14:58] eteran commented on #163
Should be fixed in master now, thanks!

[2020-07-09 14:58] #163 closed

[2020-07-09 14:59] eteran commented on #162
Whoops, there a typo in the commit message there, sorry **this** issue is still open.

[2020-07-13 05:10] marilmanen opened #164 "very large file not opened correctly and crashing when searching text (Support files > 4GB by using 64-bit code everywhere)"
This is just a note of difference between Nedit and Nedit-ng.

Nedit: Opening a 8.8G file gives an error message "File size 8Gbytes is too large to edit"
Nedit-ng: Opens the file, but  shows only 8043827 first lines and crashes when using search if the string is found outside the visible lines.

[2020-07-13 20:41] eteran commented on #164
Right, so there are some real hard to overcome hurdles with getting to being "purely" 64-bit in nedit's support. The biggest is that Qt's scrollbars are 32-bit.

Because of that, some other things have internally remained 32-bit.

I'd like to get to full 64-bit support... but at least for now, nedit-ng still only supports files up to 4GB per editor tab.

Thank you for filing this issue though, it

[2020-07-13 20:42] eteran commented on #164
The crash is interesting though... I'll have to look into it.

[2020-07-19 05:03] marilmanen commented on #111
I found a simpler way to reproduce the false externally modified file notification.
Macro with accelerator Ctrl+Shift+T

[code]

With an existing empty start file, the macro will work two times, but third execution gives the "Save as"  "bar has been modified by another program. ...." pop-up window. Depending on the delay on pressing the "continue" button I get or don't get a second pop-up window "

[2020-07-19 19:03] eteran commented on #111
Awesome, thanks. I'll see if I can figure out what's triggering it and get a fix in there :-)

[2020-08-02 00:30] bogen85 opened #165 "Setting nedit.heavyCursor=true leads to cursor droppings showing up occasionally"
Since there is not block cursor I tried heavyCursor.
[code]
It looks OK, but does not cleanup after itself.

[2020-08-02 00:31] bogen85 commented on #165
[code]

[2020-08-03 23:31] eteran commented on #165
Hmm, yea, I want to implement a block cursor eventually (you'd be surprised how complex it ends up being due to the order of rendering).

But anyway, so it sounds like it doesn't fully refresh when the cursor is moved/blinks and leave a some pixels here and there?

[2020-08-03 23:40] bogen85 commented on #165
Correct.

At times it moves before it can clean up after itself so some pixels are left behind. Not all that often, but enough to make it so I won't use that feature.

[2020-08-03 23:43] eteran commented on #164
So, I haven't been able to get it to crash. But I'll definitely add a message for dealing with files too large to open.

I definitely want to get "real" 64-bit support in there, but it is a challenge due to the previously mentioned Scrollbar issue.

Basically, the scrollbars take 32-bit ints for the min/max/value. I could make a custom scrollbar... but I don't place them manually! I use a "QAbstra

[2020-08-03 23:45] eteran commented on #165
Understood, I'll see what I can do. To be honest, I'd prefer to deprecate the feature in favor of a proper block cursor. But as mentioned, that's a bit more complex than it seems at first. But perhaps this issue will motivate me to put more effort into it ;-)

[2020-08-03 23:50] bogen85 commented on #165
Yeah, same here. As I stated earlier, I only tried heavyCursor because block cursor is not an option...

[2020-08-04 03:20] bogen85 commented on #165
I can close this if you don't have time to put the effort into. I would rather have heavyCursor deprecated as well and instead have a proper block cursor. Unless you just make this a low priority.

[2020-08-17 03:25] eteran commented on #164
The latest in master should now disallow you from opening a file > 4GB in size. I'm exploring how to best lift that limit, it's gonna be complicated but definitely doable.

Basically will need to make entirely custom scrollbars, so it may take a bit.

[2020-08-17 17:21] bogen85 commented on #165
I'm closing this issue, as I'd rather have the effort put into a full proper block cursor.

[2020-08-17 17:21] #165 closed

[2020-08-17 17:31] bogen85 opened #166 "Window resize shows pixels, not columns x rows"
I'm not sure what controls that any more, as I though it use to be the window manager.

Now for terminals I get columns x rows, on most apps I get nothing, but for nedit-ng I get X by Y pixels, which does not mean much.

It would be nice to have a visible margin like is some other text editors. Right now I'm using a "ruler.txt" file and I just resize the window.

Not high priority, as I use the "r

[2020-08-17 22:00] Rimpire commented on #161
Any luck looking into this ?

[2020-08-18 00:48] bogen85 commented on #161
@Rimpire You mean all the build dependencies?
As in all the header files, libraries, executable binaries for all the following packages?

Dependency | Version Required
-- | --
Qt | >= 5.5
Boost (Headers Only) | >= 1.35
Bison | >= 3.0
CMake | >= 3.0

That is non trivial....

Or do you mean a portable executable?
That latter is easier, that would typically be a statically linked build.
And it be bet

[2020-08-19 16:26] jlsantiago0 opened #167 "Configuration Option to Prevent Window Raise on 'File Modified Externally'"
I use mouse follow focus and would like to see a configuration option that disables the raising of the window if 'File Modified Externally' happens on a window that gets focus but is not raised 'e.g. is behind another window'. The window should only raise in that case if it is clicked.

[2020-08-19 20:17] jlsantiago0 opened #168 "Tabs settings not loaded from default"
I have the following in entries in my ~/.config/nedit-ng/config.ini related to tab configuration:

nedit.emulateTabs=3
nedit.insertTabs=false
nedit.tabDistance=3

Yes when i start nedit, the Preferences->Default Settings->Tab Stops ... is correct,
but the configured settings in Preferences->Tab Stops ... has different values. And I have to set them everytime I start the editor to get the settings

[2020-08-20 16:57] eteran commented on #168
interesting... I'll take a look.

[2020-08-20 16:58] eteran commented on #167
I'll see what I can do

[2020-08-25 22:11] eteran commented on #161
Supposedly, AppImage will do the trick, gonna look into it!

[2020-08-25 22:38] bogen85 commented on #161
Yeah, that should work. Shared libraries not on the target system have to be bundled with the executable (similar to how DLLs are packaged with executable files on Windows).  [AppImage uses LD_LIBRARY_PATH](https://github.com/AppImage/AppImageKit/search?q=LD_LIBRARY_PATH&unscoped_q=LD_LIBRARY_PATH)  Which in general should work, as that is not easy to disable the use of.

[2020-08-25 22:42] bogen85 commented on #161
See [AppImage uses FUSE](https://github.com/AppImage/AppImageKit/search?q=fuse&unscoped_q=fuse) but that can be worked around if the user can't use it on the target system.

[2020-08-26 15:23] eteran commented on #161
It'll be hard to make perfect, but it looks like it'll work for most circumstances. I'll try to make a build target for it 👍

[2020-10-27 15:04] patricevenant opened #169 "characters " ' ` ~ not accessible within WSL environment"
I can't have the characters " ' ` ~ in editor when I pressed the keyboard. With my keyboard, I need to pressed <"> + space key to got it. This working with other Qt applications but not with NEdit, I try to modify environment variables, like LANG=en. But no success :(

Have you an idea ?
Thanks

[2020-10-29 03:45] eteran commented on #169
I'll have to look into it. What X server are you using (so I can test locally)?

[2020-10-29 17:52] patricevenant commented on #169
I'm using MobaXterm (Personal Edition v20.2)

[2020-10-30 00:37] eteran commented on #168
So I haven't been able to replicate this issue locally. For me both dialogs show 3, 3, and have emulate tabs checked. Is it possible that this was fixed and I don't recall doing it? LOL.

Also, is it possible that you have a language level setting that is overwriting the tab settings?

[2020-10-30 00:38] eteran commented on #169
nice, I'll check it out :-D

[2020-10-30 14:03] jlsantiago0 commented on #168
Hmm. I cant reproduce it now either.

[2020-10-30 14:03] #168 closed

[2020-10-31 00:22] eteran commented on #168
sweet, I must have fixed it incidentally and not even realized that there was a ticket for it, LOL

[2020-11-02 23:43] grege2 opened #170 "Building nedit-ng on Mac Catalina"
Apologies if there is a nedit-ng mailing list I should be using here.

I've finally upgraded to Catalina and good old 32-bit Nedit on X11 & Motif & XQuartz has stopped working. I've been recommended to nedit-ng, by Markku Ilmanen, thanks Markku.

I'm building away. Got cmake ok. I have a bison on the Mac but looks a bit old, 2.3, I'm happy to upgrade that.

I installed Macports, and it can install

[2020-11-03 00:15] Rimpire opened #171 "load_macro_file in autoload.nm causes Segmentation Fault"
I am using a group of macros called [Macro-Kit](http://www-evasion.imag.fr/Membres/Frank.Perbet/nedit/english_presentation.html) with my nedit.

Tried to use the same Macro-Kit with nedit-ng but I am getting plain "Segmentation fault" message and nedit-ng crashes without any further details.

The setup of this MK adds load_macro_file($MK_ENV_VAR["MACRO_DIR"] "load_all_macros.nm") in the autoload.n

[2020-11-03 00:25] anjohnson commented on #170
Hi Greg,

I have successfully used Homebrew to install the required dependencies, and its list of dependencies for Boost (1.74.0) is only icu4c. It may be that the Macports version of Boost has everything enabled, but you shouldn't need that for Nedit-ng, is there a lesser Boost package available? Homebrew has Qt-5.15.1, so I would suggest switching to that.

- Andrew

[2020-11-03 06:01] grege2 commented on #170
Hi Andrew, many thanks, I will try your suggestions.
Greg.

On Tue, 3 Nov 2020 at 11:25, Andrew Johnson <notifications@github.com>
wrote:

--
*Greg Edwards*

[2020-11-03 18:12] eteran commented on #170
I am also considering upping the nedit-ng requirements to use c++17, that should make ditching boost at least a **possibility** and hopefully make non-linux installs slightly easier

[2020-11-05 00:40] grege2 commented on #170
Woo hoo! I have got it working on the Mac (Catalina 10.15.7). Imported my old nedit.rc pretty well, my macros seem ok at first glance. Colour scheme imported ok. Fonts need some work but that is well signalled in the build and doco. I only need one font anyway.

Homebrew was the key to a simple install of Bison, Boost, Qt - thanks @anjohnson   The build was error free, a few "deprecated" warnings.

[2020-11-05 17:07] anjohnson commented on #170
Congrat's @grege2

You do have to change Apple's `⌘H` key-binding to be able to use "Find Selection" in Nedit-ng, otherwise your window disappears every time you try to do a search! In System Preferences go to Keyboard, Shortcuts, App Shortcuts and add an All Applications shortcut for `Hide nedit-ng`. I set it to Shift+Option+Command+H `⌥⇧⌘H` but I never normally use these "Hide <app>" keystrokes

[2020-11-05 18:03] eteran commented on #170
@grege2 fantastic. Please do document it in the wiki, and of course, let me know if the wiki doesn't have the right permissions.

[2020-11-05 23:53] grege2 commented on #170
Hi, quick progress update, but I don't want to send too much trivia. Thanks @anjohnson for the keyboard hints, I got ⌘H re-mapped for nedit-ng, so that the old Ctrl-H "Find Selection" works (as of course does Shift ⌘H, "backward find selection"). Actually I never use ⌘H to hide a window, I just minimise it with the yellow dot, so that was a good find. ( Mac doesn't seem to have a window manager bi

[2020-11-06 18:07] eteran commented on #170
Looks fantastic. I think my code asks the system for the font sizes, but I can double-check that code to see if an in-between size should be offered.

You can though... manually edit the config file to set the size to any number you like to try it out though  ;-)

[2020-11-08 02:51] grege2 commented on #170
Hi all. Thanks @eteran for the font tip, I have tried "16" or "17" as font size in config.ini and it looks good.

I also installed Nedit-ng on my wife's fairly virgin Macbook on Mojave 10.14.6 and all went well. I've documented the Mojave and Catalina installs in a new Wiki page. Please review and change anything you like.

Cheers, GE

[2020-11-08 05:01] eteran commented on #170
Fantastic, I'll take a look at the wiki tomorrow. I don't own a mac, so as long as they seem sensible, I'll have to assume that they are correct 🙂

[2020-11-08 19:12] eteran commented on #171
I'll investigate ASAP!

[2020-11-08 22:30] eteran commented on #171
OIK, reproduced locally. I'll post when I have it figured out

[2020-11-08 22:40] eteran commented on #171
OK, traced it down to this (which is perfectly valid :-/)

[code]

Seems that there is an issue with assigning the first value to an empty array. Should be easy to track down and fix... should be.

[2020-11-08 22:47] eteran commented on #171
@Rimpire OK, fixed it! fortunately, it was just a silly mistake.

However, I can say that the script is expecting do be able to do something involving the `nc` command, so it may need other fixups. If I can figure them out without too much effort, I'll make a recomendation :-)

[2020-11-08 22:52] eteran commented on #171
OK, it "loads cleanly" if you either:

1. make sure that `nc` is a symlink to `nc-ng`
2. edit `macro_parameters.nm` and set line 29 to:

[code]

There's a comment there saying it's a common error.

If there is a particular feature of this macro kit that causes problems, please file another bug!

[2020-11-08 22:52] #171 closed

[2020-11-09 15:34] jabuzz commented on #166
There is a fix for this from two years ago now, though it is hidden somewhat. Works for me on Ubuntu 18.04LTS and 20.10

https://github.com/eteran/nedit-ng/issues/44

[2020-11-09 17:11] anjohnson commented on #170
I didn't have to install bison, GNU Bison 2.3 is installed at `/usr/bin/bison` on both my macOS machines and that's what I used with no problems. Other than that potential simplification the Wiki page looks good to me.

Next job would be to [create a formula and package](https://docs.brew.sh/Adding-Software-to-Homebrew) Nedit-ng for Homebrew. Not something that I have done before but I think it sh

[2020-11-09 19:11] grege2 commented on #170
Thanks Andrew - I didn't try the build with the built-in Bison 2.3, probably should have. I know nothing about Bison, but a bit of Googling reveals it's a sucessor to Yacc, and there's a newer thing called ANTLR. Bison, Yacc (Yak), Antlr, Gnu - people have been having fun there.

[2020-11-10 06:50] grege2 commented on #170
Hi Evan @eteran. Going along nicely with Nedit-ng on Mac. I'm having a few minor gremlins with key bindings, and some of my old macros. But they could be my own fault, so I've stripped down my (20 years old) nedit.rc to the basics, and gradually reintroducing stuff.

What I'd like to do is import the latest macro or key-binding I'm working on with nedit -import, but not Save it, until it's working

[2020-11-10 15:22] eteran commented on #166
Sounds like this is not an issue anymore.

@bogen85 please re-open if it still is a problem.

[2020-11-10 15:22] #166 closed

[2020-11-10 15:22] eteran commented on #164
technically "fixed", but true support for files > 4GB will take some more doing.

[2020-11-10 15:22] #164 closed

[2020-11-10 15:24] eteran commented on #159
I **think** this is effectively resolved as git isn't required to build. Please re-open if there is still a problem.

[2020-11-10 15:24] #159 closed

[2020-11-11 05:33] eteran commented on #170
Import should work the way you expect.

Basically it is a way to overlay new settings on top of existing settings merging them together.

[2020-11-11 05:33] eteran commented on #170
I would say that if you encounter specific issues, please do open up other tickets so that they can be tracked independently.

Thanks!

[2020-11-12 02:33] grege2 commented on #164
Hi all, I did a bit of destruction testing on my new Mac Catalina nedit-ng. It seems to load files ok up to 2GB. Eg. file size 2,139,989,040 bytes is ok but 2,234,937,792 is not. No. of lines was 44,131,686 which displayed ok in the line numbers panel. Load time about 9 seconds. Scrolled around pretty well, very useable. Search time to find a unique word in the middle of the file about 4 seconds.

[2020-11-12 03:51] eteran commented on #164
2GB should definitely work pretty well, so I'm glad that your tests sound like they confirmed it.

Honestly, the primary limitation left in nedit-ng is that It's scroll bars are 32-bit, so a degenerate case of a file that has like 5 billion newlines will break.

So the be conservative, we limit the size of the file that can be opened to 32-bit

[2020-11-13 22:37] peiriannydd opened #174 "Mac Catalina build error"
Hi, I have been waiting literally a decade to be able to use nedit on a mac.  I just tried @grege2 's wiki procedure, and when I tried the "cmake .." step from inside the nedit-ng-master/build directory, I got the error:

CMake Error at Util/CMakeLists.txt:3 (find_package):
  By not providing "FindQt5.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file p

[2020-11-13 23:06] anjohnson commented on #174
My build process sets these environment variables before it runs cmake:
[code]
Adjust the actual paths as necessary. You might not need the first variable at all, but (assuming you installed that version of Qt5 using Homebrew) the second may fix your problem.

[2020-11-13 23:35] anjohnson opened #175 "Qt-5.15.1 Compiler warnings"
Hi Evan,

I just built the latest master branch of nedit-ng against Qt-5.15.1 (on macOS Mojave) and thought you might want to see the compiler warnings below. Close and ignore this issue if you're already aware of them, the result does seem to work fine.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-11-14 00:53] grege2 commented on #175
Hi, I get much the same warnings, but blithely ignored them :=)  Some deprecation warnings are always there in a large build I think, and some cast warnings are always there too, C++ keeps toughening its rules and a harmless cast beomes a warning over time, then eventually maybe becomes an error. I could put something in the Wiki page about it.

While I'm here, yesterday I went to upgrade a Mojave

[2020-11-14 01:08] grege2 opened #176 "Problem loading autoload.nm in nedit-ng from Mac build"
Hi all,
On Mac my old autoload.nm fails to load, and nedit-ng fails with a Segmentation Fault.
I've narrowed it down to a couple of lines in autoload.nm:
[code]
The autoload loads fine if I comment those out. These are a couple of inits for some "rangeset" functions which I must have played with years ago, can't remember anything about it, and I never use this code.

I'll append the full autoload.

[2020-11-14 03:57] peiriannydd commented on #174
Fantastic, that worked for me.  Thank you!

[2020-11-14 03:57] #174 closed

[2020-11-14 16:51] peiriannydd opened #177 "Location of nedit.rc and autoload.nm"
Where should these files be kept?  I put mine in $HOME/.nedit as per linux, but they are not loading when I run nedit-ng.  Is there another location?

[2020-11-14 19:47] eteran commented on #176
I believe this is a duplicate of #171 which has been fixed in the master branch.

[2020-11-14 19:47] #176 closed

[2020-11-14 19:49] eteran commented on #177
nedit-ng's configuration directory is:

`$HOME/.config/nedit-ng/`

You should be able to place the files there

Please do keep in mind two things:

1. that there is a nedit-import tool to import your old settings
2. That there is a bug in the most recent RELEASE causing a crash with some `autoload.nm` macros that has been fixed in MASTER. So using the master branch is recomended.

[2020-11-14 19:49] #177 closed

[2020-11-14 19:51] eteran commented on #175
Thanks, I am aware of the warnings and will be addressing them soonish. Because I have chosen to support a relatively old version of Qt, I'll need to wrap these things in version sensitive conditionals. Not terrible, but can take a little bit to do right.

I'll leave this open to track progress.

NOTE: at least one of the warnings is entirely out of my control since it is in an X11 header. But I m

[2020-11-14 19:54] grege2 commented on #176
Ah, yes that looks likely. Apologies, I didn't search for the problem in previous issues. Thanks.

[2020-11-14 20:57] grege2 commented on #170
I think this issue is basically solved, my build of nedit-ng for Mac is working, and I've documented it in the Wiki. My nedit.rc is largely working, ditto my autoload.nm. Now I'm getting some more old key-bindings going but that's not a fundamental build issue. Thanks for all the help ! Closing this one.

[2020-11-14 20:57] #170 closed

[2020-11-14 23:17] peiriannydd commented on #177
I compiled MASTER yesterday, imported nedit.rc and it was put in $HOME/Library/Preferences/nedit-ng as .yaml files.  Then when I tried nedit-import autoload.nm on a simple, small autoload.nm file I got the answer
Importing is only supported for NEdit 5.6 and 5.7
Does that seem expected?

[2020-11-14 23:25] peiriannydd opened #178 ""Importing is only supported for NEdit 5.6 and 5.7" ?"
I compiled MASTER yesterday,
$HOME/.config/nedit-ng/nedit.rc was not recognized by nedit-ng, so I ran
nedit-import nedit.rc
and it was put in $HOME/Library/Preferences/nedit-ng as .yaml files. Then when I tried
nedit-import autoload.nm
on a simple, small autoload.nm file I got the answer
Importing is only supported for NEdit 5.6 and 5.7
Does that seem expected?

[2020-11-15 01:28] tksoh opened #179 "build failed on Windows 10 with GSL change"
I was able to build nedit-ng on Windows 10 back in June by following the guide on the Wiki, using Qt 5.9.9 and VS 2019 community editor. However, after pulling in the latest change, the build failed with the errors, which seems to caused by the recent commit (I'm still able to build with the nedit-ng versions prior to that commit):

removing a bunch of unecessary casts

Here's the errors extracted

[2020-11-15 03:03] peiriannydd commented on #178
Nevermind, I manually copied autoload.nm to $HOME/Library/Preferences/nedit-ng and it loaded when I opened nedit-ng.

[2020-11-15 03:03] #178 closed

[2020-11-16 00:25] eteran commented on #177
Ah, this is on mac, so yea, that location seems correct. As for importing `autoload.nm` just placing it in the same directory `$HOME/Library/Preferences/nedit-ng` should suffice, no need to "import it" specifically.

As for importing from previous versions of nedit, yea, I made the import tool aware of 5.6+, but didn't include any of the incremental setting's file updates that would be needed to s

[2020-11-16 00:26] eteran commented on #176
No worries at all! Just happy to have you as a new user :-) So please, file issues as you encounter them (hopefully they will few!)

[2020-11-16 00:29] eteran commented on #179
Hmm, been a bit since I tried to build on windows, I'll take a look!

[2020-11-16 00:29] eteran commented on #179
Ah, i see, it has to do with the prebuild bison parser files. I think I just need to update them.

[2020-11-16 00:33] eteran commented on #179
Hopefully fixed in master, I'm going to close this, but please re-open if it is not fixed.

[2020-11-16 00:33] #179 closed

[2020-11-17 02:50] peiriannydd opened #181 "background color of space doesn't follow background color"
In nedit-ng/theme.xml, the background color can be set with the line

 \<text background="#e2e2e2" foreground="black"/>

But the spaces do not follow the background color, they remain white:

![image](https://user-images.githubusercontent.com/73549725/99340270-5050d680-284d-11eb-9414-d52ee92f891f.png)

[2020-11-17 02:52] peiriannydd commented on #181
Thank you so much for creating nedit-ng, I love nedit and wish I was a programmer, I would dive in and help with the work.

[2020-11-17 04:38] anjohnson commented on #181
Do you have backlighting turned on (Preferences > Apply Backlighting)? If your config.ini has a `nedit.backlightCharTypes` setting for the char 32 that will overrule the theme.xml file background color for any space character. Try turning that off to start with and see if it makes any difference.

I find backlighting very useful for distinguishing spaces (char 32) from tabs (char 9), which can be

[2020-11-17 05:37] eteran commented on #181
@peiriannydd I believe that you have backlighting turned on. If you turn it off, then spaces (and other characters) will have only expected coloring.

Closing for now, Please re-open if I'm mistaken.

[2020-11-17 05:37] #181 closed

[2020-11-17 15:44] peiriannydd commented on #181
Thank you, I never knew about backlighting, this is great!

[2020-11-22 06:20] grege2 opened #185 "Request for command to list active key-bindings in nedit-ng"
Hi, going great with nedit-ng here on MacOS Catalina, I've restored about 98% of everything I used routinely in X/Motif nedit.

A Request For Enhancement .. it would be nice to be able to dump the currently active key-bindings in nedit-ng, ie. the built-in bindings, and any that have been added in the user's own macros. Example: I've added back in my old familiar Emacs basic bindings:
[code]
I con

[2020-11-22 10:40] grege2 commented on #185
Since writing the above, I have stumbled on some more bindings:
[code]

I haven't seen these bindings documented, but I could easily have missed it. Anyway, it would be cool to have a full list.

Cheers.

[2020-11-23 05:04] grege2 opened #187 "Up-arrow to recall prev search, not working on MacOS"
Hi Evan,

On Mac the Up-Arrow key to recall a previous search, has never worked for me, in the Find and Find/Replace dialogs. This includes Catalina and Mojave, on several builds, from your latest tarball / zip. No combo of Cmd/Option/Contrl/Fn/Shift + Up-Arrow works either.

Env:
nedit-ng version 2020.1
     Built on: BSD4, x86_64, Clang 12.0 (Apple)
      With Qt: 5.15.1
   Running Qt: 5.15.1

[2020-11-23 17:37] anjohnson commented on #187
Ack, neither the Find Incremental box nor the Find dialog box currently support navigating the search history on Mac for me either. I thought I might have used it in the past but I can't guarantee that. I'm also currently using Qt 5.15.1 but used an earlier version before, so this might be a Qt thing.

[2020-11-23 22:01] eteran commented on #187
I'll check into it, though not being a mac user, it may take me a bit to diagnose this one.

[2020-11-23 22:03] eteran commented on #185
Sure thing, this actually should be pretty easy to do.

Do note, that the Cmd and Fn ones aren't ones explicitly set by nedit, but are instead generated by macOS. For example, not all keyboards have a "PageDown" button, so macOS simulates that key binding via "Cmd+Down". Any listing I can give would show the bindings from nedit's point of view only. (aka "PageDown")

[2020-11-23 22:05] eteran commented on #185
Note, I am contemplating a good config system for letting users specify the key bindings for EVERYTHING themselves (if they like), it just gets tricky with the "Shift" modified ones.

Do I just assume that anything specified which as an inverse operation implicitly has a shift version? Do I let the shift versions be set seperately? Not always easy to say which is "better"

[2020-11-23 22:39] grege2 commented on #185
Ah yes, I'd forgotten that Windows has a Page-Up and Page-Down key. And Home and End which would be a good binding for Begin/End of file. And of course it has a proper Backspace -and- Delete key, I do miss having both those on Mac.

Re Shift-modifier, hmm, Shift is a well-known prefix for "reverse", but .. here's me wanting Ctrl-A and Ctrl-E for begin/end of line. I wouldn't want <some-key> and Sh

[2020-11-23 22:42] grege2 commented on #185
Arggh. MarkDown ate my comment. I meant SOMEKEY and SHIFT+SOMEKEY.
Note to self - always Preview.

[2020-11-23 22:46] grege2 commented on #187
If it would help, if you get to a point where you're fairly sure you have a fix, I'm happy to try it here on Mac.

[2020-11-25 08:54] tksoh opened #188 "tag file very slow to load"
Using tag file generated by ctags on the recent copy of nedit-ng repo, the classic nedit would load and find the definition almost instantaneously, while nedit-ng took about 6-7 seconds. All files involved have been opened before pressing Ctrl-D.

Some info on the ctag data:

nedit-ng$ wc tags
  19206  163329 2779645 tags

Similar issue is observed on both Linux (Mint 19.3) and Windows 10, built w

[2020-11-25 21:37] grege2 commented on #187
Hi, I've been trawling through the code, and Qt documentation. The text input widget (ie. the search text in the Find Dialog, a QLineEdit widget) does recognise Up-arrow and Dn-arrow, but actions them as "start of line" and "end of line". In the Qt QLineEdit doco page, https://doc.qt.io/qt-5/qlineedit.html ,  Home and End are listed against those actions, so I guess Mac Up-arrow and Dn-arrow have

[2020-11-26 08:06] grege2 commented on #187
Hi,
I've made a quick hack to get something I can use, ie. a couple of keys that give me "step back" and "step forward" in the search history, in the Search Dialog box. These lines in DialogFind.cpp ..
[code]
are replaced by ..
[code]
and of course a little further down we modify as follows ..
[code]

My Command (Apple) key appears to generate Qt::Key_Control which is strange, but Option(Alt) gene

[2020-11-26 21:22] grege2 commented on #187
Done. The same changes work fine in the Replace dialog, ie. in DialogReplace.cpp. You have to change two areas, for each of the "text input" widgets, ie. the Find text and the Replace text. I even used "Previous Search" in the Find dialog to find the several places to edit in the Replace Dialog .. ahh, small pleasures.

I learned two new things I never knew ! 1) The Replace text can scroll indepen

[2020-11-30 17:58] grege2 commented on #142
Hi Evan @eteran , just looking back through any comments on the "import" option. I'm trying to use the `File -> Load Macro File` menu option to import a test macro file, but I can't discover the format that nedit-ng wants. Everything gets me a "Syntax Error" popup. My best guess so far is:
[code]
I never used `Load Macro File` or `nedit -import file` in the old days so don't have any background to

[2020-11-30 19:53] grege2 commented on #142
This imports ok ..
[code]
and "test1" appears in the Macros menu, and works.

[2020-12-01 16:49] eteran commented on #142
I'll have to look into it since it's not a feature I use regularly :-)

[2020-12-01 18:51] grege2 commented on #142
Ok. Actually I'm getting by ok by just coding new macros direct in
autoload.nm, and running two instances of nedit, ie. one in good shape with
an old working autoload.nm, and one starting up with the new macro code.
It's all just to have a "testbed" for new macros while not wrecking my base
nedit, I don't specifically need to "import" macros. I see some folks work
that way though, they import a cu

[2020-12-02 23:49] grege2 commented on #187
Hi, just to be clear, my hack is working ok for me, so this can wait as long as you like. Cheers.

[2020-12-03 22:34] grege2 opened #189 "Order of macros with & without selection in macros.yaml affects Learn/Replay Keystrokes"
I seem to have discovered an issue in the order of macros saved in macros.yaml. Having a macro which requires a selection, at the top of macros.yaml, disables (greys out) the Learn/Finish/Cancel/Replay/Repeat group at the top of the Macro menu.

So, the following macros.yaml (1) keeps the Learn etc. group active ..
[code]
but the reverse order disables Learn etc.
[code]
The above is a minimal exam

[2020-12-03 23:55] eteran commented on #189
Thanks, I'll look into it

[2020-12-04 04:58] eteran commented on #189
Confirmed, this is an interesting one! (I wonder if the original nedit has this problem?)

[2020-12-04 05:31] eteran commented on #189
OK, I know the source of the bug, (and no, the original nedit did not have this issue, so sadly this is my fault ;-P).

I just have to figure out what the best solution is now.

[2020-12-04 05:46] eteran commented on #189
Should be fixed in master. Note, I also fixed a related tiny bug where menu items that require a selection defaulted to enabled.

Now they will default to disabled and only become enabled once a selection is made.

Please re-open if the problem persists!

[2020-12-04 05:46] #189 closed

[2020-12-04 05:49] eteran commented on #188
Can you attach the tag file you used? I'm sure that I'd be happy to optimize the crap out of it :-P

[2020-12-04 06:01] eteran commented on #162
I think that this is fixed and was the same as issue #189 !

Please re-open if you still have the issue.

[2020-12-04 06:03] eteran commented on #158
Are you using `nc` by any chance? I think I recall battling a similar bug in the past.

[2020-12-04 06:06] eteran commented on #167
So I'm going to keep looking into this, but there is a feature which gets you halfway there (but at a cost). You can disable the feature entirely With:

[code]

Not ideal since you'll NEVER get alerted, but better than it firing every time you move the mouse around ;-).

[2020-12-04 06:07] eteran commented on #140
@rnhaddad @anjohnson have either of you experienced this recently? I've never been able to reproduce this locally :-(.

[2020-12-04 06:22] grege2 commented on #189
Thanks ! I will try it here as soon as I can. Cheers.

[2020-12-04 16:05] anjohnson commented on #140
I haven't been using nedit-ng continuously on my RHEL-7 box much since $WORK went remote back in March. I have never seen this on the MacOS laptop I have at home, but that device can't seem to stay alive for weeks on end like that workstation does, so I can't confirm whether it still happens or not – sorry!

[2020-12-04 19:15] anjohnson commented on #158
@eteran I don't think you ever actually fixed the original bug with `nc-ng` which I suspect is some kind of race condition that also may be responsible for the occasional result that files open in new windows instead of as new tabs in an existing server window. That behavior I see on the Mac as well as on RHEL (if I open 2 files with it I often get 2 new windows). I haven't seen this window-size p

[2020-12-04 19:29] grege2 commented on #189
This has fixed the problem, thanks again.

[2020-12-04 22:04] rnhaddad commented on #140
@eteran still happening. Any new changes you want me to try out (I am still using a relatively old SHA).

[2020-12-05 01:55] tksoh commented on #188
Tag file attached.

BTW, I took a stab at it to improve the load time (considering you might be busy with other stuffs, and also as an exercise to learn more about nedit-ng ;-) -- it's the least disruptive way I can find so far. You can find the changes on my branch, along with a couple of fixes on the handling of tag files:

[git branch: _ctags-matters_](https://github.com/tksoh/nedit-ng/commits/

[2020-12-05 02:02] tksoh commented on #188
In any case, I am getting a feeling that the tag file feature is not being used as much in these 'modern' days. Naturally I'd like to see it working better, i.e. faster, since I still use it quite a lot, especially coupling with my own tag-stack feature. So I can understand if this is not a high priority.

[2020-12-05 02:31] eteran commented on #158
Yea, that issue IIRC is **really** tricky, I'll have to revisit it sometime to see if a fresh set of eyes can figure it out.

[2020-12-05 02:35] eteran commented on #140
I certainly like to think that it has been improved a bunch :-).

Mostly it's been a lot of internal stuff and bug fixes though. I made a big fix to the macro system recently. Depending on how old your version is, I may or may not have inadvertently fixed this issue by refactoring other code, so if you're interested in doing so, I'd love to know if you still experience this issue.

Thanks!

[2020-12-05 02:40] eteran commented on #188
Awesome, I'll take a look.

Admittedly, the ctags stuff is not a feature I ever really used much if at all. But I am a big advocate for making things fast ;-).

One note on your fixes, if you look at the master branch, there are two other spots where a similar fix was needed. But I prefer to place that code in an `#ifdef` because `QDir::listSeparator` didn't exist until Qt 5.6.

Now... After this

[2020-12-05 02:54] tksoh commented on #188
Yeah, on QDir::listSeparator, I just found out too it was only introduced in Qt 5.6, and I was about to ask you what the minimum version of Qt should nedit-ng support. If you still intend to keep it below 5.6 (the wiki call for Qt => 5.9 on windows), then we will have to put in the code to mimic the functionality of QDir::listSeparator -- this probably would just eliminate the need for QDir::listS

[2020-12-05 02:59] tksoh commented on #188
BTW, anything in C++ 17 that are compelling for the upgrade? I welcome all improvement naturally, but these language support can get tricky on older systems, across various compiler suites or platforms (linux, windows, mac, etc).

[2020-12-05 03:02] eteran commented on #188
I have been considering a discord or similar :-).

Regarding C++17. It's mostly the ability to have slightly cleaner code and easier to get correct idioms. It would eliminate the need to depend on boost and `string_view` would be a built-in library so I wouldn't need to include my own implementation.

So it would be a pretty meaningful improvement for **my** end of things. Users wouldn't see any r

[2020-12-05 03:18] tksoh commented on #188
I have used discord supported in other projects. Personally, it can get quite 'noisy' and hard to keep up with the discussion on specific topics of interests. Coming from the old nedit team, it'd not be a surprise I still very much prefer the old mode of communication ;-) IMHO, mailing lists or forums are still the better platforms for discussion on technical topics. In any case, it's your call :)

[2020-12-05 05:23] tksoh commented on #188
FYI, I just pushed another change to my branch to take care of the issue on QDir::listSeparator. Tested on Windows 10 and Linux Mint. Let me know if you have any comment/questions.

[2020-12-05 06:45] marilmanen commented on #140
I have been using version from April and with it I have seen issues with text selection. I'm currently updating to the latest version and let you know in case I can still see the issue with text selection.

[2020-12-06 01:18] tksoh opened #190 "[enhancement] update list of default language modes"
The list of language mode supported by nedit is very dated. We should update the list to include the new/popular programming languages and utilities/scripts.

Also, perhaps a new mechanism is needed to facilitate user contributed lang modes, instead of having them coded into the core, in order to speed up adoption of new modes.

[2020-12-06 02:37] eteran commented on #188
I like your solution to make it operate on windows correctly even with < Qt 5.6 !

[2020-12-06 04:49] Rimpire commented on #190
You can define custom languages and syntax highlight.
I have created on the original nedit very complex syntax languages with nested syntax highlighting. And was able to import them successfully in nedit-ng

[2020-12-06 06:08] tksoh commented on #126
I wonder what kind of confusion the scrolling has caused. The behavior on classic nedit was more like a shortcoming, rather than a feature. I originally wanted something like what nedit-ng is doing, but Motif wasn't that friendly to hack ;-)

[2020-12-06 06:20] tksoh commented on #126
@eteran just a quick though, is it possible to config how many tabs to appear on the tabbar at one time? Maybe that will provide more flexibility and still give what @marilmanen is looking for.

[2020-12-07 01:39] tksoh commented on #112
@eteran I've attempted a hack to delay the checking of file stat until after the document has been raised. Please see my branch for the change and see if it's going to work for you. Quite frankly, I'm still struggling to learn about the this signal-slot topic in Qt, so I hope it doesn't break anything:

[issue-112-reload-modified-file branch](https://github.com/tksoh/nedit-ng/tree/issue-112-reload

[2020-12-07 01:44] eteran commented on #112
No worries on the noise. Just happy to have you making contributions!

I'll take a look at this in a little bit!

[2020-12-07 07:49] tksoh commented on #190
the import support certainly make things earlier, but what is lacking is some kind of 'eco' system. The old nedit imports the new lang mode, and pattern and just about everything else, into the .nedit/nedit.rc, which makes it tricky to try to share with other. I saw nedit-ng already break up the rc resources into different files, in this case 'language.yaml' and 'patterns.yaml' for the language su

[2020-12-07 08:05] tksoh commented on #190
BTW, with the subdirectory approach, it will also mean the user created stuffs will need to be save into the subdirectory too, naturally.

[2020-12-07 14:58] eteran commented on #190
Interesting idea. We could for sure do the very unixy thing and have something like:

"if there is a languages directory, read all YAML files in it, otherwise, read the languages.yaml". I like the idea enough that I'm kinda disappointed that I didn't think of it first :-P.

This would make sharing things SO much easier and intuitive, and frankly would almost not require a UI at all. Just plot file

[2020-12-07 17:36] anjohnson commented on #190
Can I suggest "First read the languages.yaml file, then read all the .yaml files in the languages directory" instead, which allows for backwards compatibility and for new files to be added to that directory without disabling any that the user had already defined in the single file. Redefinitions should replace the older version completely though, don't try to merge them.

There is a question about

[2020-12-07 22:47] eteran commented on #175
@anjohnson I think I've squashed most of the warnings, can you confirm which ones you still see?

[2020-12-07 23:50] eteran commented on #190
Yea, backward compatibility is where things get tricky. We'll have to think carefully about how it all should work.

[2020-12-08 00:16] anjohnson commented on #175
I only get these now:
[code]
and
[code]
I wouldn't bother about trying to fix the last one given that it's from a system header.

[2020-12-08 02:51] eteran commented on #175
Thanks, it's looking pretty sharp!

[2020-12-08 02:53] eteran commented on #188
@tksoh BTW, I almost forgot, I actually setup a gitter for this project, feel free to message me there, and if you happen to catch me at the right time, it can be much more real time:

https://gitter.im/nedit-ng/Lobby

(Link also via badge in README on the top)

[2020-12-08 02:56] eteran commented on #126
I'll have to investigate the options. There's always a way, it's just a matter of how custom we'll need to go with the widgets.

[2020-12-08 02:57] tksoh commented on #188
@eteran cool! I'll check it out.

[2020-12-08 03:44] tksoh opened #191 "Windows menu not showing list of documents correctly after detaching a document"
Start nedit-ng, open three untitled documents, detach untitled_2, and we get:

1. on the windows for detached untitled_2, none of the documents are listed
2. on the original window (with untitled and untitled_1), only untitled and untitled_1 are listed.

screenshots attached. Using commit :

![2020-12-08 11_38_47-Window](https://user-images.githubusercontent.com/494222/101437278-c7f4bb80-394a-11eb

[2020-12-08 04:09] eteran commented on #191
Hmm, that's a weird one, I'll check it out ASAP!

[2020-12-08 05:37] marilmanen opened #192 "Edit/Redo stops working"
I've encountered a new issue that I haven't seen ever before.
I was modifying a text file (with version 2020.1-68-gb117490) and suddenly redo (Ctrl+Shift+Z) stopped working although it had worked many times already with the same file. Issue is visible only in one of the files that I have open in my tabs (in two separate window created with detach tab). In the failing tab the file the status does n

[2020-12-08 06:49] tksoh commented on #103
On Linux Mint, I noticed if I set 'nedit.focusOnRaise=true', it will raise the raise/activate the window. But this is not what the flag is meant for in the old nedit:

nedit-ng seems to be working the other way round somehow, raising the window that has the focus, rather than giving focus the raised window.

@eteran maybe some issue with the implementation? Or I miss-interpreted it?

BTW, Qt's act

[2020-12-08 08:38] marilmanen commented on #192
Unfortunately I accidentally activated the failing window and due to modifications done in the other NEdit server the corrupted file gave pop-up window "has been modified by another program. Reload?" and that reset the issue and Redo works now again.

[2020-12-08 11:18] eteran commented on #192
Interesting. Can you describe your environment? OS/Distro, Qt version, compiler version, desktop, etc? Running via `nc-ng` or `nedit-ng` directly?

You seem to encounter issues that I don't see locally, so I'm just trying to figure out what the difference is.

Thanks!

[2020-12-08 11:26] eteran commented on #191
Should be fixed in master (fortunately, this one looks like it was an easy one ;-P)

[2020-12-08 11:26] #191 closed

[2020-12-08 11:32] eteran commented on #188
@tksoh can you elaborate on how you test ctags loading speed? When I open nedit-ng, and choose "File -> Load Tags File" and choose the ctags you provided (after gunziping), it loads more or less instantly for me.

Are you opening any source files and searching for anything in particular to trigger the slowness?

[2020-12-08 11:35] eteran commented on #187
@grege2 awesome work, I may look into a configuration option to have an "alternate history navigation" or something like that if it can't be done with Up/Down.

I'm not sure why we can't capture them directly though... hmm.

[2020-12-08 11:48] eteran commented on #187
@grege2 OK, I **may** have a solution that will "just work". Can you please check out the branch, https://github.com/eteran/nedit-ng/tree/macos-history-support

And let me know if it looks like it works in the **Find** dialog (I haven't touched replace yet, but it's the same concept).

If Find search history works for you in this branch, I'll apply the same fix to Replace and merge it in.

[2020-12-08 12:04] tksoh commented on #188
Did you try to lookup for a tag?

Loading the tag files doesn't actually load the tags, the tags are actually loaded on the first time we invoke Find Definition.

[2020-12-08 12:08] tksoh commented on #188
BTW, to 'amplify' the load time, I'd make two identical copies of ctags and load them, just to make it a little more obvious

[2020-12-08 12:20] eteran commented on #127
@anjohnson I just pushed a style setting which should hopefully address the lack of scrollable tabs. Unfortunately, the "native" style simply doesn't support it, so it will make the app look slightly less native.

[2020-12-08 12:21] eteran commented on #175
Should be fixed as much as is reasonable in master now. Please re-open if those last two are still there (or if I broke something, LOL).

[2020-12-08 12:21] #175 closed

[2020-12-08 12:24] eteran commented on #192
Also, is this an edit session where you've had nedit open for a LONG time? Did you use lots of macros? Hopefully, we can figure out what the trigger is.

[2020-12-08 12:50] eteran commented on #188
@tksoh so I don't use this feature too much :-P. So if you could give specific instructions that would help.

I did try to search for a definition, but it always said not found, so I must be forgetting exactly how it works, LOL.

[2020-12-08 13:00] eteran commented on #188
OK, loading and searching for "DocumentWidget" via highlight + "Ctrl+D" takes 2-3 seconds for me on a release build. (Just checking, you didn't choose a debug build did you? It should default to "Release with Debug Info" which is basically `-O2 -g`

[2020-12-08 13:02] tksoh commented on #188
No problem. To look for a tag, I simply load, say mainwindow.cpp file in the nedit-ng source directory, select one of the class names, then press ctrl D, and it should open the file where the class is defined and highlight the class name. I presume the ctags file is copied into the root of the source directory and loaded from there.

In any case, even if it says not found, it should mean that it a

[2020-12-08 13:10] tksoh commented on #188
You beat me to my reply ;-)

You are right. I was using the debug build, which is significantly longer than your two second, and very inconsistent too. I will try out the release build later.

But even at 2-3 seconds, that still quite slow compared to classic nedit compiled with -O0 -g. To be fair, motif is a lot lighter than Qt, but we probably should it's performance as close as perceivably poss

[2020-12-08 13:12] eteran commented on #188
Yea, it's consistently taking about 2 seconds for me. I agree it should be faster. I don't think it's a Qt vs Motif thing since this is a data-driven operation. I think it's probably a QFile vs FILE thing. Possibly due to Unicode conversions. I think it could be MUCH faster :-D. I'll see what I can do, because a file this size SHOULD be basically instant.

Though this did reveal a repeatable way t

[2020-12-08 13:13] tksoh commented on #188
Perhaps let me try out the release builds before we proceed further.

Just curious, did you try out my patch to see if the performance is better?

[2020-12-08 13:17] eteran commented on #188
not yet, but I plan to later today

[2020-12-08 13:22] tksoh commented on #188
Also, I did try to manually benchmark the QFile read, and it only to about 100ms+ on my system. The tag file size is only about 2MB after all.

I still can't get CPU profiling working in Qt Creator,  so I can't pinpoint where the bottlenecks really are for now. I actually used the timer to measure elapsed time in the tag loading loop.

[2020-12-08 13:32] eteran commented on #188
OK, so it's not FileIO, it must be all the string operations and related allocations. If I were willing to commit to a MUCH more recent version of Qt, I'd switch a bunch of stuff to be QStringView's which would be likely much more performant.

But... I think we can figure this one out even so!

[2020-12-08 13:46] marilmanen commented on #192
I took latest code into use on Dec 5, and started working, so I would like to think that this is not a long time. I use macros heavily, so I would estimate that during these 3 days I must have executed >100 macro commands. Most of the macros execute on the background and modify some of the text files that are also open, so I get a lot of intentional "has been modified by another program. Reload?"

[2020-12-08 15:22] anjohnson commented on #175
Just the one warning from Apple's Xfuncproto.h file now, thanks.

[2020-12-08 19:54] grege2 commented on #187
Great, I will check it out.

[2020-12-09 06:57] grege2 commented on #187
Hi, I've checked the mods, works fine for me. Up-Arrow and Down-Arrow step back / forward in the Search history, gives a bell when no more steps available, searches in "correct" direction (ie. fwd for Cmd-F, backwd for Shift-Cmd-F).  Cheers.
(Catalina 10.15.7).

[2020-12-09 08:07] marilmanen commented on #192
I have now started to see some odd "has been modified by another program. Reload?" pop-up messages, so could you clarify when these messages are expected? Only when a tab with externally modified file is activated, or for some reason at some other time also (I don't think it should)? At the moment it looks like I get a pop-up message based on the activated tab index and not based on which of the d

[2020-12-09 08:57] tksoh commented on #188
FYI. I tested with release builds today. On my Windows 10, the master branch took about 4-5s to load ctags of nedit-ng source, vs about 1s with my branch. The debug build of master took a whopping 16-18s (O.O), not sure what the compiler did with it (I suspect it's linking to the debug version of Qt also, as I can't believe the compiler can optimize the nedit-ng code to this extend).

The performa

[2020-12-09 09:37] tksoh opened #194 "Unload Tags File menu not update after detaching document"
This is probably related to issue  #191

Steps to reproduce:

1. open some tabs
2. load a tag file
3. detach one of them => Unload Tag File menu is grayed out on the detached window.

![2020-12-09 17_34_18-Untitled_2](https://user-images.githubusercontent.com/494222/101611804-ee971d00-3a44-11eb-83cf-341127f349b9.jpg)

![2020-12-09 17_35_00-Untitled_2](https://user-images.githubusercontent.com/4942

[2020-12-09 09:38] tksoh commented on #194
BTW, using nedit-ng version 2020.1-68-gb117490f

[2020-12-09 09:42] tksoh commented on #194
Using nedit version 2020.1-71-gbe006b2e

[2020-12-09 13:54] eteran commented on #194
Ok, yea makes sense. I'm not sure that I r call any code trying to sync that particular menu 😂

[2020-12-09 14:07] tksoh commented on #194
My limited understanding is that MainWindow::updateMenuItems() tries to do that, but allWindows() skip over the new window because it's not yet visible. Apparently visibility is being used as a sign a window is being destroyed. Maybe that's not the best approach?

[2020-12-09 14:07] eteran commented on #187
Awesome, I'll apply the fix to replace to and merge it into the master branch soon 👍

[2020-12-09 14:10] eteran commented on #194
Ah yes, that makes sense.

I forget why, but there is a quirky reason for the "only visible" rule. I think it had to do with fixing a crash when a window that was about to be deleted was included in some things.

I'll see if there's a good refactor for that code to address this stuff more generally.

[2020-12-09 19:03] anjohnson commented on #127
That does fix the problem of tabs making the window wider, thanks. I actually slightly prefer this style of tabs over the Apple's too, when there are only 2 tabs present these make it more obvious which one is active. Of course using Apple's X tab-close button would be a bit more intuitive, but that seems to be theme-specific so I'm not going to ask you to fix that.

![image](https://user-images.g

[2020-12-09 22:43] grege2 commented on #162
Hi Evan @eteran,

I think this issue is still there unfortunately, on Mac Catalina 10.15.7 and Mojave 10.14.6.  I was just about to report the same. My Repeat Dialog always has the Learn/Replay option greyed out, no matter what I have done with Learn / Replay / keystrokes etc.

I've had a hunt around in the code. I can see DialogRepeat gets set up with `ui.setupUi(this)` in `DialogRepeat::DialogRe

[2020-12-09 23:25] eteran commented on #162
Thanks for this, I'll take a look. I think the original bug report was regarding the menu items and your new report has to do with the dialog. But still, good find. I'll investigate!

[2020-12-09 23:26] eteran commented on #127
Ah, I'll see if I can make the GIT stuff a bit more surgical for rebuilds.

[2020-12-10 00:37] tksoh commented on #127
The NEDIT_VERSION_GIT approach was very much a hack, as I was a bit reluctant to change the structure of the source, i.e. adding the auto-generated header. Maybe that's what needs.

@anjohnson In any case, editing the source should not result in recompiling the whole tree -- this is what the make system is for after all -- unless you touch the cmake files. I don't see this issue on Windows 10 and

[2020-12-10 01:31] eteran commented on #127
@tksoh I think the issue **might** be that if you edit a file, it adds "-dirty" to the define, which if you're coming from a clean source tree, means that every single file is getting a new define passed, and thus, a rebuild? Maybe?

[2020-12-10 01:32] eteran commented on #127
I think there's a better solution though, instead of a define, we can generate a version.h file (or similar), and have a minimal number of files include that one. Should mean only a few things get rebuilt.

[2020-12-10 02:12] tksoh commented on #127
The state change to dirty might potentially triggers that, but only if you reload the program, or touch the main cmake file. This is actually a bug in the -DNEDIT_VERSION_GIT approach I discovered recently, that the version info is only captured during cmake configure time, so it doesn't know when the source has been updated after the project is loaded into Qt Creator.

On the auto-generation of v

[2020-12-10 02:12] eteran commented on #127
@anjohnson OK, I implemented the version.h.in concept, and I can confirm, it does not cause a full rebuild when you have a dirty repo. So that should be fixed in master.

So on this ticket, which issue are outstanding?

Is dark mode still an issue (I long ago made dark mode friendly icons).

Keyboard shortcuts are a bit of a toughie, because Qt on macOS auto-exchanges Ctrl and Cmd implicitly for u

[2020-12-10 02:14] eteran commented on #127
@tksoh I just updated master to use an include file, but you're right, it of course only captures the version at configure time. It's a limitation, but not a huge one. 99% of the time, the info there is useful for people reporting bugs so I don't need to ask "what version are you running?"

The git rev gets us that (and I added the ability to capture the git commit too, I just don't display it any

[2020-12-10 02:16] tksoh commented on #127
Once again, you beat me on the reply ;-)  Very quick work! I will try your change later today ^^

[2020-12-10 02:19] eteran commented on #162
Holy cow, how did I miss this one. Looking at nedit-5.6... it has essentally the exact logic you describe:

[code]

That last line is saying "enable it if `ReplayMacro` isn't `NULL`. Easy fix, good catch!

[2020-12-10 02:21] eteran commented on #127
@tksoh I'm just enthusiastic because adoption is finally picking up and I'm enjoying the user base growing and giving feedback :-D!

[2020-12-10 02:29] eteran commented on #162
@grege2 Fixed in master, thanks :-D

[2020-12-10 02:29] #162 closed

[2020-12-10 02:32] tksoh commented on #127
I know that feeling 😊

[2020-12-10 02:46] eteran commented on #187
Should be all fixed in master!

[2020-12-10 05:33] eteran commented on #188
nice, if you are satisfied that the code is correct, it sounds like a definite improvement. So feel free to open a PR for it!

As for Debug/Release.. honestly, my experience is that measuring the performance of debug code is not really reflective of how the code will perform at all when doing an optimized build. Modern compilers are bordering on magic these days ;-).

[2020-12-10 05:39] eteran commented on #188
Oh... I see something simple that may be a HUGE difference in speed.

If the `scanCTagsLine` function is part of the call chain, it is currently very slow. Mainly because it is constructing a `QRegaExp` object (the older API!) every time!

The better way to do it, since it's a static string, is to use a static `QRegularExpression` object that is static and thus compiled once.

That alone should be

[2020-12-10 05:42] grege2 commented on #162
Great. I use "Repeat" of the Learn/Replay macro quite a lot. Solved !

[2020-12-10 05:48] eteran commented on #188
OK, pushed an update to master for the `QRegularExpression` bit. Can you check to see if that made a meaningful difference on your end?

[2020-12-10 06:03] tksoh commented on #188
I actually did something very similar with QRegularExpression, but didn't see a very significant improvement. Let me try it again.

[2020-12-10 06:05] tksoh commented on #188
I moved regex outside the function instead of make it static const -- thought about that though but didn't think it matter that much. Let's see..

[2020-12-10 06:10] grege2 commented on #187
Yep, downloaded and built the zipball, now Up-Arrow and Down-Arrow scroll back/fwd through the Find history in the Find Dialog, and the Find/Replace history in the Replace Dialog. And, which I never knew, the Find history is common to the Find and the Replace Dialog, could be handy. Cheers !

[2020-12-10 06:28] tksoh commented on #188
Your change seems to take about a second off my earlier result, that's about 25% improve. Nice work. Maybe Qt like you better ;-)

And applying your change to my branch, I'd say it's a lot more tolerable at least for my usage. I'd open a PR. We can continue the optimization as we go along.

[2020-12-10 12:03] marilmanen commented on #192
Now the issue has escalated to a situation where tab name is not the same anymore as the actual file name and I have no idea at which time the tab name changed. In the Windows menu I have still the correct tab names, but the tab bar shows wrong name for one of the files (two times same name in the tab bar). I'll switch back to the April version as I think it was better.

[2020-12-10 15:06] eteran commented on #192
Wow, OK, I'll continue to look into things and see if I can replicate these things. I can say that your usage pattern of using macros to intentionally trigger reload messages is very different than what I do, so hopefully I can figure out what the cause of these things are!

[2020-12-10 15:25] eteran commented on #194
Should be fixed. I want to improve the fix at some point to make the code a little cleaner, but this will do for now. Please reopen if the problem persists

[2020-12-10 15:25] #194 closed

[2020-12-10 15:57] eteran commented on #188
Ha! Maybe you didn't make it a static variable so it was getting created every time it was called?

Either way, closing this issue, please reopen if performance of this feature remains an issue (or becomes one again)

[2020-12-10 15:57] #188 closed

[2020-12-10 16:03] anjohnson commented on #187
Up/down arrow now work in the Find dialog box, but not in the MainWindow's IFind box...

[2020-12-10 16:24] eteran commented on #187
Ah, I'll have to add it there too! Reopening :-)

[2020-12-10 17:31] anjohnson commented on #127
Yes that fixes the rebuild issue. In our GNU-make build system we force make to always rebuild the header file (at make time, although we don't actually have a separate configure step), but then have the Perl script which actually does the work compare the existing header file with what it would write and not do anything if the content wouldn't change.

I don't have time to check the dark-mode stu

[2020-12-10 18:32] eteran commented on #127
So I do have a plan to a ".config/nedit-ng/shortcuts.yaml" file which would let users specify ALL shortcuts... eventually. But it's gonna be a big undertaking. When I'm done, I can of course have a different default version of this for mac/windows/linux/etc...

We'll get there eventually!

[2020-12-10 21:22] eteran commented on #187
OK... **now** it should be fixed! Incremental search history navigation is now implemented in the same platform-agnostic way as the other search fields 👍

[2020-12-10 21:22] #187 closed

[2020-12-10 21:30] eteran commented on #112
@tksoh I am considering a new approach entirely. Perhaps we can use `QFileSystemWatcher ` or similar to pretty much ALWAYS be notified by the system when a file is changed and we use this to simply set a per document variable of "this has changed behind our backs"

Then, when the tab is given focus, if it happens to have this flag set, we show a message box.

This way, we'd have a lot of control o

[2020-12-10 21:56] grege2 commented on #187
Hi, I checked it out, Up/Down arrow now work for me in the Incremental Find box, on Mac. I confess I've never used that :=( I think my nedit-ng usage is going to be more sophisticated than my nedit-X11 usage. Well, that's a fine thing.

[2020-12-10 22:29] anjohnson commented on #187
Ack, thanks!

[2020-12-10 23:38] eteran commented on #132
So there's a pretty easy fix to this one... maybe.

Basically if we change line 2089 of DocumentWidget from:

[code]

to

[code]

Then this warning goes away, I think.

I don't know if the warning was the intended behavior because it is **explicitly** considering a "missing file" (a file that was deleted while open in nedit) as being "modified". Honestly, that seems like a mistake to me. So I'm go

[2020-12-11 03:19] tksoh commented on #112
QFileSystemWatcher looks like a interesting feature -- checking for everything manually is a great pain and hard to get right. However, if we still going to have to check the flag, I am unsure how it would change the current implementation. Maybe I am missing something?

[2020-12-11 03:23] tksoh commented on #188
@eteran on the topic of mailing list, github just prompted me to try their new discussion feature (still in beta though), but it looks like something useful. Have you tried that?

[2020-12-11 03:24] eteran commented on #188
I haven't! I'll have to check it out for sure. 👍

[2020-12-11 03:51] tksoh commented on #132
The old nedit seems to have the similar code, but does not have the same problem. I wonder if the issue is lying elsewhere.

    if (!silent &&
            ((window->lastModTime != 0 &&
              window->lastModTime != statbuf.st_mtime) ||
             window->fileMissing)  ){

[2020-12-11 05:40] grege2 opened #196 "Enhancement - show number of lines in Statistics Line."
Nedit doesn't show the number of lines in the Statistics Line. We have **filepath   byte nnn of mmmm** on the left, and on the right **L:nnn C:nn.** Possibly this is because it used to be expensive to constantly re-calculate the number of lines, esp. for a very large file - some sort of scan to the end of the buffer could be needed, after every keystroke maybe.

But I see from the code that nedit-

[2020-12-11 13:31] tksoh commented on #127
@eteran on the version info, can we add the branch name also, perhaps By appending "[branch-name]" to version string ? It would be  very helpful for those who work on multiple branches of nedit-ng.

[2020-12-11 14:01] eteran commented on #127
Sure, that should be easy

[2020-12-11 15:18] eteran commented on #196
Not a bad idea at all, I'll see where it would make sense to add it to the status line :-)

[2020-12-11 15:19] eteran commented on #132
So yea, the code is taken more or less straight from nedit-5.6. Are you **sure** it doesn't happen wit the old nedit? The OP says:

"Functionality is same with old nedit."

[2020-12-11 15:21] eteran commented on #112
@tksoh you are right that we still have to figure out when to trigger the message such that it is after a tab is changed, but also after the new tab has been rendered so the new tab is visible.

[2020-12-11 20:17] anjohnson commented on #127
Dark mode looks great now, I just have to change my color settings on that machine so the nedit-ng window doesn't stick out like a lighthouse!

[2020-12-12 04:14] tksoh opened #197 "default line number background color is too dark"
Just a minor observation.

The line number pane has a default color of nearly black color (1st screenshot). I feel it should be set to the same white color as the text area (like the old nedit), or at least some other light color like #EEEEEE (2nd screenshot)

![2020-12-12 12_07_31-Window](https://user-images.githubusercontent.com/494222/101973392-ba08a880-3c72-11eb-812b-04c0cf247e3a.jpg)

Sample

[2020-12-12 05:20] eteran commented on #197
Heh, not sure I'd consider it a bug since it's a matter of preference I guess. I kinda like it so dark :-P.

But... I do have plans for even more advanced full app theming at some point. I think the bottom line is, I'll take it under consideration, but given that you can change it so easily if your preference differs from mine, it's not top of my list :-).

[2020-12-12 05:21] tksoh opened #198 "Open Previous menu not grayed out when empty"
A really minor issue.

The Open Previous menu is not grayed out when there's no items in it. At worst, it might confuse new users ;-)

![2020-12-12 12_20_29-Untitled](https://user-images.githubusercontent.com/494222/101976088-c42fa480-3c7c-11eb-842f-7d56dc800fbd.jpg)

[2020-12-12 05:26] tksoh commented on #197
I probably wouldn't call it a bug either, especially since nedit doesn't even provide that field in the color dialog. But if the initial goal is to clone old nedit's look and feel, and perhaps make those users at home with nedit-ng, then making both of them with similar appearance would help :-)

[2020-12-12 05:33] tksoh commented on #112
@eteran perhaps instead of checking the flag, the QFileSystemWatcher handler should check to see if the doc is the active one, and pop up the dialog?

[2020-12-12 05:40] tksoh commented on #132
I just tried nedit again, and I didn't get the "file_new has been modified by another program" dialog.

Using the stock nedit install with apt on linux mint 19.3:

[2020-12-12 05:47] tksoh commented on #132
OK. Here's something interesting. I tried the latest nedit-ng also, and again, I don't get that last dialog. Hm...

[2020-12-12 09:17] tksoh commented on #196
I believe we should take this opportunity to 'modernize' the stat line. There are a lot of good examples out there we can learn from.

First of all, I think the full path name display is not every economical -- the same info is already display on the window title, and the only use AFACT is to let user copy the path. If we provide the ability to copy the path, say on the tab context menu (notepad++

[2020-12-13 01:24] eteran commented on #132
Hmm, are you sure that you are following the reproduction steps exactly?

[2020-12-13 01:27] eteran commented on #132
Yea, I just walked through the steps with nedit-5.6 compiled from source and I get the same exact error:

![image](https://user-images.githubusercontent.com/571477/102000740-789aec00-3cb8-11eb-80cc-e708e2e61010.png)

[2020-12-13 03:03] tksoh commented on #197
I will close the issue, since it's not one technically.

[2020-12-13 03:03] #197 closed

[2020-12-13 05:05] eteran commented on #198
Fair enough :-)

[2020-12-13 05:06] eteran commented on #197
I gotcha. I will certainly give some thought to making it lighter like nedit-5... But no promises ;-).

[2020-12-13 06:33] tksoh commented on #132
I don't know why, but I still don't get that "modified by other program" with nedit 5.6. What am I missing?

![2020-12-13 14_31_42-acer (tksoh-Aspire-SW5-012_1 (tksoh)) - VNC Viewer](https://user-images.githubusercontent.com/494222/102004903-f65e0680-3d4f-11eb-98c6-6b6d7e7bbfae.jpg)
![2020-12-13 14_27_56-acer (tksoh-Aspire-SW5-012_1 (tksoh)) - VNC Viewer](https://user-images.githubusercontent.com/

[2020-12-13 07:00] eteran commented on #132
So weird.

Where are you pulling the source from? Is it possible that it has a patch?

[2020-12-13 07:10] tksoh commented on #132
nedit-git$ git describe --dirty --tags --always
REL-5-6

nedit-git$ git log -1
commit c7f38d7ba17fb3d3ea2315163030c24512396660 (HEAD -> 5.6, tag: REL-5-6)
Author: Scott Tringali <tringali@users.sourceforge.net>
Date:   Sun Dec 7 17:05:04 2014 -0500

    Remove unintended merge conflict

[2020-12-13 20:50] grege2 commented on #151
Interesting. I have an old regex demo that I carry around ..

time perl -e 'print "Starting runaway regex:\n"; if ( "1,2,3,4,5,6,7,8,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,zzz" =~ /^(.*?,){27}z/ ) { print "match" } else { print "no match" }'

As shown (1 to 25) it takes about 4 seconds on my Mac, but more numbers (26, 27 ...) blow it up pretty quickly. I forget what it's doing ! but it's a

[2020-12-13 21:01] grege2 commented on #175
Just to add another check, here is my build on Mac Catalina 10.15.7 of the 13 Dec 20 download.

[code]

[2020-12-13 22:32] anjohnson commented on #175
Apple moved the X11 libraries around, so both paths are needed to ensure it builds on older as well as new OS versions.

[2020-12-13 22:43] eteran commented on #132
@sjtringali Any thoughts on this one? Any explanation for the explicit inclusion of a missing file as "modified"?

[2020-12-15 15:30] #161 closed

[2020-12-15 15:31] #55 closed

[2020-12-15 15:34] eteran commented on #188
@tksoh

Just a heads up, I have enabled discussions for this project :-)

https://github.com/eteran/nedit-ng/discussions

See you there!

[2020-12-16 18:42] eteran commented on #145
@marilmanen I have found a good way to reproduce this bug locally, and it does seem to be having to do with things that change the focus document.

I was even able to replicate with ctag operations (not macros).

I think I know WHAT is happening, just not WHY it is happening. Basically, under some very specific circumstances, the timer object I use to redraw the cursor acts like it has a timeout o

[2020-12-16 18:55] anjohnson commented on #145
I see the flickering cursor occasionally too. One way I can trigger it (on Mac) is in the Open File dialog start typing a filename, use cursor-down to select a file from the list of matching names that pops up, then press return to open it. That tab seems to always have a flickering cursor, but the other tabs aren't affected.

[2020-12-16 18:58] eteran commented on #145
Yup, I have a fix incoming!

[2020-12-16 19:03] eteran commented on #145
OK, should be fixed in master!

Basically, the issue was that `QTimer::start` will use the previously set interval if none is specified. That works great, but apparently, the change focus event if switching to a window you haven't set the focus on before will call `start()` before any previous focus events set the interval, making it use the default interval of `0`.

Fixed by explicitly setting th

[2020-12-16 19:03] #145 closed

[2020-12-16 19:13] eteran commented on #198
Should be fixed in master!

please reopen if you the problem persists :-)

[2020-12-16 19:13] #198 closed

[2020-12-17 02:49] eteran commented on #169
So I can say that I have been unable to reproduce locally. I am using VCXSrv and set the following environment variables:

[code]

Obviously `DISPLAY` needs to match the correct things for YOUR system  as I'm sure you already know :-)

Have you tried forcing a US keyboard layout with:

[code]
?

[2020-12-17 04:12] eteran commented on #100
@markmr So I know it's been a bit, but I did just fix a bit of code that was causing the cursor to refresh literally "as fast as the system can" under some circumstances, and I wonder if you were encountering one of those.

By any chance could you test the latest master to see if this is resolved?

[2020-12-17 14:10] patricevenant commented on #169
I did  `setxbmap -layout us`  That's perfect ! Thanks a lot.

[2020-12-17 14:53] eteran commented on #169
Wahoo! Closing then since it's a configuration level issue.

Please re-open if you have any other related issues.

[2020-12-17 14:53] #169 closed

[2020-12-18 04:01] anjohnson opened #205 "Feature Request: Open from Clipboard"
On the Mac (and potentially with Wayland on Linux I suspect) the current selection used for "Open Selected" is only available when the text is selected in a document that's currently open in Nedit-ng; in X11 because of how the selection worked that selection could be taken almost any other X11 application. What would be really useful as a close replacement for these newer systems would be "Open fr

[2020-12-18 06:37] grege2 commented on #205
This sounds good.

[2020-12-18 16:08] eteran commented on #205
So this is a slight challenge to do "right".

On Linux, it works, because on X11 we have access to the primary X selection, which occurs when things are highlighted. But on other platforms that don't use X11, we fake it the best we can... Which so far, this means that we work for selections in the document because we own that selection.

[2020-12-18 16:17] anjohnson commented on #205
I'm just looking for something that does exactly the same as File-Open, Paste, Open, but without bringing up the dialog box. Am I confused about Qt's ability to access the contents of the clipboard?

[2020-12-18 16:32] eteran commented on #205
So we can access the clipboard, but you'll have to do something like Ctrl+C or Cmd+C because while Qt does have access to the clipboard, bit doesn't have access to the selection on non-X11.

[2020-12-18 16:48] eteran commented on #205
I think I have a solution.

We'll have a configuration option for `config.ini` that will make it use the clipboard instead of the selection? So anytime you have done like Cmd+C, then you can with a keyboard shortcut, open whatever filename is in clipboard currently?

[2020-12-18 16:51] anjohnson commented on #205
Exactly, that should have been implied by my saying "Paste", I wrote my original description understanding the difference between the X11 selection (which Apple doesn't give you access to) and the clipboard (which it does).

I still find using the selection inside Nedit-ng helpful sometimes, so I was hoping for an extra command instead of replacing "Open Selection".

[2020-12-18 17:11] eteran commented on #205
Yea, sorry I'm a little slow today :-P

[2020-12-18 18:32] eteran commented on #205
I think perhaps binding this feature to "Ctrl+Shift+Y" or "Ctrl+Alt+Y" would not conflict with anything existing, would that work well for you?

[2020-12-18 18:54] anjohnson commented on #205
Shift+Ctrl+Y (which on the Mac would become Shift+Cmd+Y) is perfect, thanks!

[2020-12-19 20:10] eteran commented on #205
@anjohnson

https://github.com/eteran/nedit-ng/pull/208

See if this works as you expect :-)

[2020-12-20 12:45] marilmanen opened #210 "strace messages"
I had a feeling that there might be something wrong with my NEdit, so I did a dummy trial to check what it is doing. strace -p <pid> repeats printing

poll([{fd=5, events=POLLIN}, {fd=8, events=POLLIN}, {fd=17, events=POLLIN}, {fd=18, events=POLLIN}], 4, 100) = 0 (Timeout)
recvmsg(8, 0x7fff703802f0, 0)           = -1 EAGAIN (Resource temporarily unavailable)
recvmsg(8, 0x7fff70380310, 0)

[2020-12-20 17:32] eteran commented on #210
Hmm, I will take a look.I can say that there have been 7 commits since that version, and one of them addresses a possible "runaway timer" situation. Can you check with the latest master?

[2020-12-20 17:35] eteran commented on #210
Also, I can say that 2020.1 release displays the same behavior on strace (that is routine polling) and that there certainly isn't any code in nedit itself deliberately triggering polling, and that if I were to guess, it is likely the Qt event pump running and usually, not receiving a new message.

[2020-12-20 17:47] marilmanen commented on #210
OK, I had also an issue with my setup and that's why I was using old version. Now I'm using the latest and I think this issue should be closed.

[2020-12-20 17:51] eteran commented on #210
No worries will close :-).

Your usage pattern definitely seems to identify interesting corner cases in the code, so I really appreciate your feedback and sticking with nedit-ng while I iron them all out! So please do keep em coming.

Let me know if some of your other issues are addressed in the recent work too!

[2020-12-20 17:51] #210 closed

[2020-12-21 05:19] eteran commented on #190
@anjohnson @tksoh

Would it make sense for it to read the `languages.yaml` file first, and then, as it is reading the languages in `languages/*.yaml`, if a language there has the same name as one already loaded, then it would simply be used instead?

There's ... quirkiness that comes into play though.

Like if we do that, and then the user clicks save preferences, where does a given language get s

[2020-12-21 05:29] eteran commented on #190
One thought I just had, and I have very mixed feelings on...

a lot of the more "advanced editors" like atom, vscode, sublime, etc... just basically punt on this problem. Most of these editors, when you want edit the config that is stored in a file just have you use the editor to edit the file, and it's usually just some json that the user is expected to understand. They often don't even offer a U

[2020-12-21 06:38] tksoh commented on #190
My first reaction to the so-called "expert friendly" solution is that nedit already has one. So, that's not where we want to go, since it already does not meet what we want to accomplish, namely a no-brainer "drop-in" integration.

I am for "First read the languages.yaml file, then read all the .yaml files in the languages directory", in which languages/*.yaml override the versions in languages.ya

[2020-12-21 08:32] eteran commented on #190
There is another "backward compatible" option, and it's a weird one :-P.

So basically nedit-ng is ALREADY backward compatible with classic nedit's language mode specification. It won't generate it by default, but if you use `nedit-import` from a class nedit configuration. it will stuff the entire language mode specification in the `.ini` file just like classic nedit did with its config files...

[2020-12-21 08:35] eteran commented on #190
For the curious, if you look in the `$HOME/.config/nedit-ng/config.ini` you can see that I used the `nedit.XXX=*` technique to silently upgrade basically every multiline field to its own YAML file.

[2020-12-21 18:01] eteran opened #214 "Support for .editorconfig"
.editorconfig is quickly emerging as a well-supported standard for setting directory tree editor settings. Supporting this should be easy enough since they offer a pretty simple Qt implementation. And it seems reasonably that it would take precedence over existing editor settings.

[2020-12-21 19:40] #205 closed

[2020-12-21 20:00] anjohnson commented on #190
@eteran asked:

My original suggestion was

which I think is exactly what you asked. The "new files" clause which @tksoh asked about was to say that users can copy any downloaded `roku.yaml` or whatever language file straight into that directory and it will be loaded automatically (will they need to restart Nedit-ng for that to happen?). Loading just a single `languages.yaml` file makes it harder

[2020-12-21 20:09] eteran commented on #190
A typical UNIX convention is to load files in lexigraphical order. So if you really have a need to enforce ordering you can do something like: `01-c++.yaml` and `02-c.yaml`.

[2020-12-21 20:23] anjohnson commented on #190
Just asking to make sure you remember to sort the list before loading it! Of course if you're also going to monitor the directory for new or updated files and then (re)load only those which are new or changed the winning set of rules for a specific language could be different than when reading them all in from cold. That suggests you might want to generate an annoying pop-up if you find the same l

[2020-12-21 20:47] eteran commented on #190
Fortunately, I don't plan to do any "monitoring" of the files. They will be read on load, and the in-memory representation can be updated (and saved back to the files) through the UI.

If the user happens to edit one of these files manually, it will either:

1. have no effect until they restart the application
2. possibly get overridden if they later use the UI to edit the settings before restarti

[2020-12-21 23:15] eteran commented on #192
@marilmanen when you get a chance, can you provide any updates on this?

You recently said in another thread that you had an issue with your setup. Is it possible that some of the issues you describe where either environmental or otherwise addressed by recent updates?

[2020-12-21 23:26] eteran commented on #103
@tksoh I think you let me to the solution (I hope)! The raise should be outside the `if(focus)` because this function should raise the window regardless of the `nedit.focusOnRaise` setting. That setting should effect whether or not we attempt to set the focus to the window as well! (I think)...

[2020-12-21 23:26] eteran commented on #103
@marilmanen @markmr Could you guys checkout the PR and see if it helps this issue?

https://github.com/eteran/nedit-ng/pull/215

[2020-12-22 01:52] tksoh commented on #214
I have not spent too much time to dig into it, but it seems to exist as plugin for those editing already supporting it. NEdit does not has a plugin support, so we need to make one?

[2020-12-22 02:19] tksoh commented on #190
I too thought about adding the filename suffix to the language mode to id the source yaml, and let users decide how to manage them -- we have to trust them to be intelligent enough to clean up their own house ;-) I think this might actually free nedit from the burden of considering all the potential corner cases on how these files or languages might get mingled beyond human comprehension, and we d

[2020-12-22 02:24] tksoh commented on #190
BTW, the "parsing error in a file that is redefining an already-defined language" is quite unlikely in practice, unless the files are manually edited somehow (why?). Even so, the broken files should just to ignored as a whole, and users should take responsibility to clean them up before loading again.

[2020-12-22 02:40] eteran commented on #214
I'd like for NEdit to eventually have plugin support. But honestly, this feature is simple enough that I don't think it would be overkill to just have it built-in.

The example Qt implementation to fetch the settings is less than 500 lines of formatted and commented code. In a single cpp/h pair.

[2020-12-22 02:46] eteran commented on #190
@tksoh I think that's a pretty sensible way to handle it. We can do something as subtle as just printing a warning to the console that a malformed file is being ignored.

[2020-12-22 04:19] tksoh commented on #190
@eteran users would certainly appreciate some warning.

On a related topic, for Windows users, they are likely not using any console (the drag-and-drop feature probably helps make it even less likely too).  Since nedit-ng now works natively on Windows, this issue probably need to be addressed sooner rather than later. I actually have an old patch on SF (again ;-) that direct t_print() to a message

[2020-12-22 04:21] eteran commented on #190
Yup, I was also thinking that NG may need a "console" for any output that typically ends up in the terminal.

Wouldn't be hard to implement at all since already it's all done through It's logging API meaning that I have a nice centralized place to capture it.

[2020-12-22 04:44] marilmanen commented on #192
My setup issue was related to a shared tool setup file where all tool versions are selected. My intent was to freeze nedit-ng to some old version for all other accounts and use latest version only with my account, but due to a mistake also my nedit-ng version was the old version. Now I'm using the latest and none of my trials should be visible to others. I have planned to make some systematic issu

[2020-12-22 05:36] eteran commented on #192
I can understand how it's a moving target! But hopefully, nedit-ng is rapidly approaching the "rock solid" status we want it to be :-)

[2020-12-22 07:01] grege2 commented on #185
HI, just reviewing issues. My request for a list of active key bindings was pretty much general laziness, while getting nedit-ng going on my Mac. Plus there's the Mac confusion of Cmd becomes Meta, and Alt becomes Ctrl (or whatever it is .. more laziness). But with the benefit of some experience poking around the code, it feels like, without a centralised keystroke dispatcher, it could be awkward

[2020-12-22 07:21] grege2 commented on #157
Reviewing old issues .. this would be great. I don't currently use any code-folding editor, but I can see how it would be great. My typical code is thousands of lines of JavaScript with many very verbose and bloated functions, some not in regular use. Poor code for sure, but to have an overview of just the functions, all folded to a few lines, would be great. Also one more level of folding perhaps

[2020-12-22 16:29] anjohnson commented on #190
I'm not sure how well that would work, I have some prefix filenames (which Nedit can't currently identify automatically, I'd need a regex or a glob pattern match for that) – they are actually Makefiles, but don't have any kind of a suffix.

The parsing error while loading might not happen often, but when it does a user must have hand-edited the file and would probably really appreciate some detail

[2020-12-23 01:41] tksoh commented on #196
This idea came after the other discussion on extending the language modes, where we talked about having a console to capture the warning/errors/messages from nedit...

Perhaps we can add a flashing red dot or something to alert users on the new messages, so we don't have to keep popping up the console, which can be annoying at times. Users can click on the dot to open the console to view the messa

[2020-12-23 02:22] tksoh commented on #214
Just wondering, is this going to be a completely new feature, or in some way replace/enhance some functionality in nedit 5?

[2020-12-23 03:00] eteran commented on #196
A dot is a good idea!

[2020-12-23 03:07] eteran commented on #214
Right now, I envision it as a new feature, that would by default take precedence over NEdit's existing language settings (for the application setting).

There would be an option in config.ini to say "enableEditorConfig" that would by default be true, but if a user REALLY prefers to use their settings over the ones specified by the project, then they can set it to false.

Honestly, if I were not co

[2020-12-23 03:07] eteran commented on #47
Made obsolete by .editorconfig. I'd rather support that as it is much more robust.

[2020-12-23 03:07] #47 closed

[2020-12-23 06:13] marilmanen opened #222 "open and focus_window"
I wanted to use a macro to open file and set it to Read Only mode, so I used macro
[code]
Result is not what I expected i.e. the file from which the macro was executed becomes locked and the /tmp/foobar is not locked. With old NEdit I get the lock to the /tmp/foobar file.

[2020-12-23 06:30] eteran commented on #222
Interesting indeed. The `focus_window` code does try to set the "macro focus" to the new target. It's probably something silly. Nice subtle find! I'll check it out.

[2020-12-23 06:41] eteran commented on #222
OK, I see the issue. There are two functions in nedit's macro implementation. `MacroRunDocument` and `MacroFocusDocument`.

They return the document that either executed the macro or is the focus (set by `focus_window`) respectively. The `set_locked` is using `MacroRunDocument`.

However, it is using it via a template that is used in MANY places.

So I need to do an audit to make sure that ALL of

[2020-12-23 07:01] eteran commented on #222
This PR **should** fix it. Please test before I merge it in :-)

https://github.com/eteran/nedit-ng/pull/223

[2020-12-23 07:44] marilmanen commented on #222
I changed my nedit version and now my macro is working ok. I should have now some free time, so I'll play with nedit-ng for couple days and see if I can find something new or some way to reproduce existing issues.

[2020-12-23 07:48] eteran commented on #222
Awesome, going to merge this PR then !

[2020-12-23 08:24] tksoh commented on #190
Actually, by filename suffix, I was talking about adding the yaml filename of which the language mode was defined, so it will show up as "C++ [mycplusplus.yaml]" on the the lang modes menu, as well as the lang mode and patterns dialogs.

[2020-12-24 07:06] marilmanen commented on #222
There seems to be some additional issue with the focus_window as it does not change the active window to a detached window if the file is already open. The correct tab in the detached window is changed, so only active window change (and raise) seems to be missing. I tested also with old NEdit and it changes the active window.

[2020-12-24 07:22] eteran commented on #222
Interesting, I was under the impression that `focus_window` only changed the focus of what the macro would effect. I'll have to look at the classic NEdit's code more... Reopening.

[2020-12-24 07:32] eteran commented on #222
@marilmanen OK, I know what's up. Believe it or not, we are BOTH right ;-)

`focus_window` does NOT in NEdit-5 activate the window, and it doesn't even change to the tab... but `open` DOES!

So `focus_window` in NG is working correctly, but `open` needs a small fix to make it also activate the window.

[2020-12-24 07:33] eteran commented on #222
BTW, I tested this by having a macro with ONLY a focus command, and in classic NEdit, it didn't switch tabs, it didn't activate the window. But if I preceded that `focus_window` with an `open` it works as you described.

[2020-12-24 07:44] eteran commented on #222
LOL, already had a PR to address this.

However, I can say that it only works EXACTLY like you say if you also have `focusOnRaise` set in your config.ini file.

I'll merge the PR in, since it seems to be the correct behavior.

[2020-12-24 07:47] eteran commented on #103
This issue was auto-closed because it was linked to a PR that was merged. It **may** be fixed, please let me know if it is still a persistent issue.

[2020-12-24 07:55] eteran commented on #222
OK, after reviewing classic NEdit's code, I think **now** master should have the effect that you expect.

Closing this issue again, please re-open if the problem is not solved :-).

[2020-12-24 07:55] #222 closed

[2020-12-25 05:56] marilmanen opened #224 "Incorrect tab file name"
I have found two simple ways to get a wrong name for a tab. First includes usage of one of my macro commands. Here is the simplified macro.
[code]
The focus_window was my trial to avoid issues, but it does not help. Sequence to get a wrong name to a tab is.
1. open 3 files
2. run the macro for two of the files and do not click on the removed tab after macro execution
3. select the third file and p

[2020-12-25 08:59] marilmanen commented on #224
Additional note: The New Untitled must become first tab. For example if Sort Tabs Alphabetically is set and the files are f1, f2 and f3, then Untitled will become first tab and the issue can be reproduced.

[2020-12-25 23:32] eteran commented on #224
Very interesting, OK, I'll replicate locally and see if I can come up with a fix soon!

[2020-12-26 03:15] eteran commented on #224
I'm not reproducing locally. I don't even get the prompt for the "Another program may have removed it" after step 4. I would if I selected the tabs for the deleted items, but you specifically said to select the first, and then delete the second and third.

https://user-images.githubusercontent.com/571477/103144864-9cb9ec80-46fe-11eb-9292-62a3d8ef9503.mp4

[2020-12-26 03:22] eteran commented on #224
OK, I just reproduced! It is easily triggered with tab alphabetization enabled!

https://user-images.githubusercontent.com/571477/103144931-a42dc580-46ff-11eb-9798-f52997b780a4.mp4

[2020-12-26 03:44] eteran commented on #224
@marilmanen OK, I think I have a fix! Just a simple reordering of operations to make sure we aren't renaming tabs based on index right before they are going to be moved around by alphabetization!

Can you give it a test?

https://github.com/eteran/nedit-ng/pull/225

[2020-12-26 05:18] marilmanen commented on #224
I'm not able to reproduce the issue anymore, so I think the fix works as expected.

[2020-12-26 05:32] eteran commented on #224
Nice!

[2020-12-26 05:32] #224 closed

[2020-12-26 18:15] sjtringali commented on #103
This code exists for two reasons, IIRC. One is to work around window managers that don't follow the focus-on-raise hints for rop-level windows correctly.

A second reason was really annoying; if you had a dialog window that was already open (e.g., Find) but is modeless, then ^F should absolutely raise AND set focus to it.

[2020-12-26 18:29] sjtringali commented on #214
Without this is really making it difficult to edit nedit-ng with itself.

While I'm here, can we please change hard tabs to expand to 4, as is per unix standard; or, standardize on spaces and no hard tabs? Other tools assume tab=8 and 4 just never works for mixed space/tab formatting.

[2020-12-26 18:31] sjtringali commented on #214
I think the best way is to support .editorconfig on a per-file basis. I adjust the per-window preference (without messing with the default ones) all the time - editing a large codebase that doesn't use .editorconfig.

[2020-12-26 18:33] sjtringali commented on #214
PPS: Any .editor  shouldn't take over the saved default settings*. Override the per-window settings when loaded. That way you have a hierarchy of it.

*except with perhaps the special case of when there are none, when starting from scratch

[2020-12-26 18:37] sjtringali commented on #132
I think we can replace most of this with [QFilesystemWatcher](https://doc.qt.io/qt-5/qfilesystemwatcher.html). Polling it on focus wasn't never the best thing.

[2020-12-26 18:38] sjtringali commented on #120
Yeah, having it modeless is a big way of writing the patterns and seeing how they apply immediately.

[2020-12-26 18:40] eteran commented on #214
I'm not sure what you mean here. I believe that I use tabs for indentation (spaces for vertical alignment) and you can certainly set NG to use 4 wide hard tabs which is what I have done.

[2020-12-26 18:42] eteran commented on #214
Absolutely, that's basically what I meant above (if I understand you correctly).

For it will not effect the built in settings and will simply take precedence over the per tab language settings.

[2020-12-26 18:44] sjtringali commented on #30
We do have one, but it's used to indicate insert mode. That said, terminals are not text editors, so it's really standard to use a cursor that's between characters, and unambiguous. With a box, you need to guess whether it's left or right biased.

[2020-12-26 18:46] eteran commented on #103
Makes sense. I think I have finally squared away how this function should work and I THINK this issue should be fixed in master now.

@marilmanen please confirm when you get a chance 🙂

[2020-12-26 18:46] sjtringali commented on #112
Yes for QFileSystemWatcher. Note that tabs came late to nedit; there still is some assumption a window == tab. Clearly, in this case we should only be checking on the active tab, and, deferring any popups until the window until the tab is focus and the window is activated.

[2020-12-26 18:47] sjtringali commented on #112
PS you might be looking for the "polish" event.

[2020-12-26 20:19] eteran commented on #112
Sadly, the polish event doesn't seem to trigger every time we need it. In my quick and dirty tests of adding a hook for it in `DocumentWidget`, it only fires the first time the tab is displayed (as far as I can tell), but we really want it to trigger every time a document gets focused. But there certainly is a solution for this, just gotta find it :-).

[2020-12-26 20:21] eteran commented on #112
I **suppose** one thing I could do is instead of checking on the focus event itself... we could just **scheduler** a check using a QTimer. This would give the even system enough time to finish processing the focus event, and then essentially immediately after, then pop up the messagebox. I'll play with it!

[2020-12-26 20:32] eteran commented on #112
@marilmanen I believe that this PR creates the behavior that you want!

https://github.com/eteran/nedit-ng/pull/227

please confirm when you get a chance.

@sjtringali Absolutely, I plan to switch to `QFileSystemWatcher` eventually. Any time we can replace a bunch of existing code with a few library calls and get the same results == win! I think to keep the same behavior, we'll have to have the wa

[2020-12-26 20:52] sjtringali commented on #112
Timers ugh. Would an async signal work? Same thing.

[2020-12-26 21:17] eteran commented on #112
@sjtringali maybe, but that may end up being more complex than the 2 lines for the timer though.

I don't LOVE this solution, but I did have to do it in a couple of other spots in the past to get things to do what we want, and fortunately, Qt hides all of the ugly details of timers from us.

In the end, we just near ANY abstraction for, "do this, but only after you've finished processing outstandi

[2020-12-26 21:51] sjtringali commented on #112
Yeah, I've had to use that before.

Qt::QueuedConnection often works since the event loop. Which, I use a lot for heavyish button callbacks that really shouldn't be invoked in the UI stack context.
     On Saturday, December 26, 2020, 04:18:11 PM EST, Evan Teran <notifications@github.com> wrote:

@sjtringali maybe, but that may end up being more complex than the 2 lines for the timer though.

I do

[2020-12-26 22:44] eteran commented on #112
@sjtringali the trouble is that the focus event isn't already captured via a signal. It's an overload instead.

So I **could ** create a "checkModified" signal connect it to a queued connection (I actually had to do that for some of the dialogs "rollback on cancel behavior" already) and then `Q_EMIT` the signal.

But like I said, this will end up being more complex than the 3 line solution since w

[2020-12-26 22:54] eteran commented on #112
@sjtringali actually, I overstated the complexity, LOL. It was pretty trivial to do what you suggest, so now the PR does that instead to seemingly equal effect in fixing this issue :-).

[2020-12-26 23:13] sjtringali commented on #112
Ha. Lucky guess on my part!

[2020-12-27 04:07] eteran commented on #190
So there are some messy bits that I'm unsure how to properly address, and they basically all revolve around users creating/editing/deleting languages via the UI.

Things like, should we be deleting files from their config directory when they delete languages and what happens if they're in directory files seemingly conflict with files the UI would like to create.

I just want to make sure we get al

[2020-12-27 04:14] eteran commented on #190
A thought. What if in the language/macro/whatever dialogs, we also had Import/Export buttons? This would allow them to select a language, export it to a file of their choice, and share it. And users could trivially import them?

I think to a large degree that kinda simplifies the equation a lot. Sure, it's not quite as trivial as "drop file here", but it's pretty simple while avoiding any potentia

[2020-12-27 05:34] marilmanen commented on #103
Yep, no more issue with window activation.

[2020-12-27 05:52] marilmanen commented on #112
I tested PR #227 and it does solve my issue.

[2020-12-27 07:29] #112 closed

[2020-12-27 08:33] grege2 commented on #214
Hi, just a fairly dumb comment here - I'm guessing @sjtringali meant that NG defaults to expand a hard tab to 8 spaces, until you change it in the Default Settings, and NG source has hard tabs. I confess I bumbled along looking at NG source code for a while, using NG, thinking "this 8 space indenting is sure hard on the eyes", until I thought to check for hard tabs, and change it. Mine is at 3 now

[2020-12-27 09:09] tksoh commented on #190
Notepad++

I am not sure how notepad++ handles them.

The goal here's the to make it _really_ easy & simple to share these stuffs. Anything that can accomplish the goal is fine by me :-) If we manage to cook up a nice & intuitive UI to handle them, it might actually be better than having to worry about those potential corner cases. NEdit is, after all, a GUI-based app.

That said, the way nedit5 b

[2020-12-27 15:17] eteran commented on #214
I have been thinking I should change the default to 4 for a while!

The only reason I haven't is because classic defaulted to 8... But you're right, might be time to change that!

[2020-12-27 21:30] grege2 commented on #214
Yeah, I don't think 8 spacing is very common now. In fact I'm not sure why it ever was. A bit of Googling ..

https://superuser.com/questions/355863/why-is-the-default-tab-size-8-spaces-where-does-this-come-from-and-why-is-it-th

https://en.wikipedia.org/wiki/Tab_key

Looks like it actually comes from typewriters and old line printers / telprinters. There's so much stuff comes from those days, lik

[2020-12-27 22:12] eteran commented on #30
I certainly agree that it's more common in terminals than editors, but many popular editors do have this feature. Especially people who like a tiny font, but don't like a "thick" cursor.

Sadly, NEdit's existing block cursor can't be easily made to deal with being a normal cursor just because of the drawing algorithm used. (I believe we draw the background, the box, then the character). This works

[2020-12-27 22:13] #103 closed

[2020-12-27 22:16] eteran commented on #104
Revisiting feature requests.

If I understand this correctly, you are basically asking for a "lock file", right? The idea is that the file serves as a marker that an editor is already editing that file.

Likewise, if you aren't using `nc`, `nedit` could detect the presence of this lock file and warn the user that an instance of `nedit` already has that file open.

Do I have that right?

[2020-12-27 22:38] eteran commented on #120
Just as a follow-up.

Using a modal dialog is a quick and easy way to prevent the user from messing with things while changes are still uncommitted. For example, what if they do something stupid like try to delete a language while the patterns dialog is open!

So yea, I'll work on making this non-modal, in the end, it's a one line fix, I just want to make sure that there is code to prevent user ..

[2020-12-27 22:40] eteran commented on #127
I'm going to close this issue because it spans several discussions and I think all the actual build issues have been dealt with meaning all that is left are some cosmetic things.

Please do feel free to open specific issues for any issues though if they persist so they can be tackled!

[2020-12-27 22:40] #127 closed

[2020-12-28 01:29] tksoh commented on #190
One other thing we should probably discuss now is the list of new languages we plan to add as default, perhaps by calling for contribution from users.

I counted nedit, hence NG, only support about 30 lang modes. I think we should start working on adding the new ones that are considered famous these days. I will start the list here, please add your suggestions:

- CMake
- Diff
- JSON
- Lua
- R
- R

[2020-12-28 01:36] tksoh commented on #190
I just took a quick look at notepad++, and it does have the support to create new language patterns, and store them in a folder. I have not gone further to try it out yet though.

![2020-12-28 09_31_43-_new 1 - Notepad++](https://user-images.githubusercontent.com/494222/103183851-faf9f180-48ef-11eb-8231-6f92b95dd4db.jpg)

[2020-12-28 02:28] eteran commented on #190
Absolutely agreed.

[2020-12-28 04:19] tksoh commented on #190
I googled the 'top 20 programming languages in 2020' and made this list that includes the lang modes already supported by nedit marked by '(*)':

- Ada (*)
- Awk (*)
- C++ (*)
- C (*)
- CMake
- CSS (*)
- Csh (*)
- Diff
- Fortran (*)
- Go
- Java (*)
- JavaScript (*)
- JSON
- Kotlin
- LaTeX (*)
- Lex (*)
- Lua
- Makefile (*)
- Matlab (*)
- NEdit Macro (*)
- Pascal (*)
- Perl (*)
- PostScript (*)
- P

[2020-12-28 05:09] marilmanen commented on #104
Just having a file open in nedit should not create the modification indicator file. I would like to have a indicator file only when I have made modifications to a file, but have not yet saved the modifications. When the modifications are saved (or canceled by undo) the modification indicator file should be removed. Practically the modification indicator file should exists at the same time when the

[2020-12-28 05:15] tksoh commented on #190
@eteran one other thing that I noticed for quite a long time is that nedit-5 fails to detect the makefiles in it's own source code, probably due partly to the 200 characters scan limit. I think this detection algo needs to be improved, or at least with the limit revised significantly up (memory should not be a problem for NG's users)

[2020-12-28 05:16] eteran commented on #104
So kinda like the vim .swp files then?

[2020-12-28 05:24] eteran commented on #190
@tksoh awesome work! This list will be very helpful in building this out.

Regarding the detection of Makefiles, the reason is twofold.

1. There is no really good regex for detecting a Makefile based on its contents. So for this particular case, we don't even have one to attemp! We just go by name.

2. nedit-5's Makefiles are of the form `Makefile.<platform>`, and the fallback from using regexes

[2020-12-28 05:30] marilmanen commented on #104
I get the .swp file as soon as I open a file in write mode and I want the file only when the file is under modification. The swp file is also not just an empty file, so I think it could also have issues when handling large files.

[2020-12-28 05:47] tksoh commented on #190
Just FYI, I am not sure how they do it, but Linux's 'file' util is able to detect the makefiles in nedit 5.

[2020-12-28 05:50] eteran commented on #190
right, linux's file uses a library called "libmagic", (we probably could too...), which if it does indeed identify makefiles that may mean that I overstated when I said, "There is no really good regex for detecting a Makefile based on its contents" :-) Unless of course libmagic just returns that it's a makefile if it seems "makefile" in the name ;-).

I'll have to investigate!

[2020-12-28 05:53] eteran commented on #190
Looks like ti searches for patterns using the rules found here:

https://github.com/file/file/blob/master/magic/Magdir/make

but I can also say, it works VERY well, but isn't perfect. It misses `Makefile.generic` and just considers it "ASCII text"  on my system :-) Looks like the `CFLAGS` that it WOULD have found is just too far down in the file, even for libmagic.

I do agree that we could probab

[2020-12-28 05:57] tksoh commented on #190
Given the amount of RAM in modern linux systems, I think we can spare a lot more generous than 2048, especially it's just a temp buffer. Probably at least 10k so we don't have to keep coming back to it again.

[2020-12-28 06:00] eteran commented on #190
Yea, I was originally gonna just say 4096 bytes because it's a nice even page of memory... but then I started doubting that because I started thinking "what if there's a regex with REALLY bad performance and it nukes load performance"... You may be right though, RAM is pretty abundant.

Side note, honestly, if we changed our languages to target a mime type, it would be TRIVIAL to default to just u

[2020-12-28 06:21] tksoh commented on #190
If libmagic is available where Qt is, then it's obviously the better solution. But I wonder if a larger scan limit would take care of the problem too. Then we can spend our time working on other things first ;-)

[2020-12-28 06:21] eteran commented on #104
Gotcha, I think I understand what you're looking for now.

[2020-12-28 06:25] eteran commented on #190
Sadly, I don't think libmagic is included in any part of Qt to my knowledge, so we'd have to "bring it along" for some platforms. Not ideal.

But I agree, we can start with the simple things like raising the scan limit from `200` characters fore sure. That's about as trivial change as it gets.

[2020-12-28 18:05] anjohnson commented on #214
@sjtringali [The Posix standard width](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/expand.html) for hard tabs is 8 spaces, not 4:

Many of the projects I have to work on have source code dating back to the 90s and still have hard tabs in them followed by 4 spaces where necessary for 4-space alignment. I have been replacing the tabs with spaces as I work on and reformat those files,

[2020-12-28 19:32] anjohnson commented on #104
Could this just be the backup file (`~<filename>` on my systems)? I'm not sure exactly when it gets created but it sounds like almost the same behavior to me.

[2020-12-28 19:56] anjohnson commented on #190
Language modes are useful for other text file formats too:
- INI files
- YAML
- JSON
- Markdown (multiple flavors, hopefully many of them can be combined into one rule-set)
- Restructured Text
- MediaWiki (other wikis have their own flavors too)

[2020-12-28 20:17] eteran commented on #214
@anjohnson some good points. DO keep in mind that that the default is just a default, that default will ALWAYS be able to be adjusted application-wide no matter what happens.

The only thing that even potentially changes for anyone is that people who prefer 4 over 8 will get what they want after a fresh install and people who prefer 8 over 4 would have to adjust the global settings after a fresh i

[2020-12-28 20:22] eteran commented on #190
Of course, JSON was in @tksoh 's list, and I think that we should do our best to support any of the popular markups as well. We do this already by supporting things like XML, HTML, CSS, etc..

[2020-12-29 01:42] tksoh commented on #190
@anjohnson I added your suggestions onto the list in my original comment, so it's easier to keep track.

[2020-12-29 01:49] tksoh commented on #196
Just a thought. Should we considering adding a status bar at the bottom of the windows. It's very common practice these days, and we don't have to left the statistic line alone -- one less thing to worry about on the 'backward compatibility' list, so we are free to implement anything we see fits.

FWIW, I really like the ability to interact with the info on the status bar, like changing the EOL fo

[2020-12-29 01:52] tksoh commented on #196
Here's an example from PyCharm. Notepad++ is similar, but use the right-click instead.

![2020-12-29 09_50_16-Window](https://user-images.githubusercontent.com/494222/103253244-50e79b80-49bb-11eb-9595-3d8f0e2bac4c.jpg)

[2020-12-29 02:02] eteran commented on #196
A status line of that kind is something I've been thinking about for a while for sure.

[2020-12-29 02:05] tksoh commented on #214
While having the ability to let user adjust is certainly a good thing, we still need to make sure the defaults are the most sensible ones, in order to minimize the needs to have to do that.

[2020-12-29 03:27] sjtringali commented on #214
I prefer 4 but don’t really care. It’s hard tabs I find unworkable in a team environment, it always looks broken in web based diff tools.

[2020-12-29 03:30] sjtringali commented on #214
4 is a Windows thing. I’ve never seen it in any Unix.

Hard tabs are essentially lossy compression. It’s the JPG of source code with quality level=1.

On Dec 28, 2020, at 1:05 PM, Andrew Johnson <notifications@github.com> wrote:

[2020-12-29 04:43] eteran commented on #214
😢

@sjtringali sorry to hear that you dislike hard tabs so much. I can't say that I agree with your assessment, but fortunately GitHub respects . editorconfig and will show hard tabs as 4 wide 😜.

I'm not really a fan of indenting with spaces, mostly because of issues regarding editors either assuming groups of spaces are a virtual tab to remove when I want to just remove one, or forgetting that a

[2020-12-29 05:16] marilmanen commented on #104
Issue with the backup files is that they are not empty (cause slowness when handling large files and thus should not be enabled by default) and those are not always immediately removed when a file modification status changes back to unmodified state.

I'm having many times much more speed than I can handle and thus I forget to save some of the files I've modified. Then I compile my HDL files and r

[2020-12-29 05:19] tksoh commented on #214
for the record, I am not a big fan of hard tabs either. They used to be helpful when disk space were expensive, but perhaps it's time they retired. LOL

[2020-12-29 05:36] eteran commented on #214
@tksoh for me, it's not about saving space. Frankly, I'm not sure there have ever been enough tabs in a typical source file that it served as a useful compression metric, at least not in my lifetime :-P.

it's just that in my mind, an "indent" is a tab so that's what I want to type. If it were possible to use spaces with none of the drawbacks I experience, then sure, I'd be all over using spaces.

[2020-12-29 07:29] grege2 commented on #196
The status "bar" looks good. You could pack a lot of summary status in it. Maybe you could flag any setting different from your default one in red.

[2020-12-29 08:31] tksoh commented on #196
Off topic: folks here seems to view "status bar" as a misnomer. I wonder if there's something I am missing. Even Qt has a QStatusBar widget ;-)

https://en.wikipedia.org/wiki/Status_bar

[2020-12-29 08:50] tksoh commented on #214
Tab-indentation is an art, everybody see it in a different way. In the best interest of transitioning to NG, I'd say we should just maintain the same behavior for now, just like the other features. We have save the debate for another day ;-)

[2020-12-29 14:49] eteran commented on #196
LOL, I tend to use status-bar and status-line kinda interchangeably :-).

[2020-12-30 03:48] tksoh commented on #196
Perhaps we should start discussing on what to add to the status bar? I will start the list of potential candidates below:

- file size and total lines (click to show full file stat)
- language mode (click to select another mode)
- line, column number of current cursor position (click to change line, or offset from 1st char)
- line-ending style (click to change)
- encoding (click to change)
- tab s

[2020-12-30 05:11] eteran commented on #196
Excellent list. I can say that file size is technically in there since we show:

`/path/to/filename byte <index> of <size>`

[2020-12-30 05:53] tksoh commented on #196
Do you mean we don't need to display that info on the status bar also?

[2020-12-30 14:55] eteran commented on #196
Oh! You are thinking of the Statusbar as a seperate thing from the "status line"? I see.

I was originally thinking that we'd be enhancing the status line and making it able to be either at the top or bottom of the editor.

[2020-12-30 17:44] anjohnson commented on #196
A comment on the current status line: I rarely have it visible, just enabling it when I want to see the line or column. I see the file path there as a waste of space since I already have the path visible in the window's title bar and the filename in the tab as well:

![image](https://user-images.githubusercontent.com/5453863/103370099-8c549980-4a91-11eb-887a-33b978889870.png)

Note that there is n

[2020-12-30 18:06] eteran commented on #196
I agree that the path is redundant and frankly, so is the filename. I see "CONFIG_COMMON" in **three** places in your screenshot!

Adding a "copy path" to the tab context menu @tksoh is an elegant solution for sure. I know some users will be temporarily confused by it though. So perhaps there should be a config option of "modernStatusLine" for the transition period of 5->6.

And once we have most

[2020-12-30 18:23] anjohnson commented on #196
Ahh, that explains it. BTW when I turn that on (which doesn't immediately refresh the status line BTW so I have to move the cursor for the status line to change format) the total bytes number gets clipped, presumably because of my long paths. It should show 16517 here:

![image](https://user-images.githubusercontent.com/5453863/103373010-59160880-4a99-11eb-8a96-3d79891e3f94.png)

[2020-12-30 18:25] eteran commented on #196
Yea, if there's no room, it will get truncated. Not much we can do about that so long as we are showing the path.

[2020-12-30 19:30] anjohnson commented on #196
The path already has the ability to be truncated (there's an ellipsis in the middle of it here):

![image](https://user-images.githubusercontent.com/5453863/103376358-0db42800-4aa2-11eb-9aa1-c4fc33b61cc3.png)

I suspect the problem is that the math for the max width of the path text doesn't properly allow for the longer "byte _n_ of _m_" message when line numbers are displayed. It would be better

[2020-12-30 20:16] grege2 commented on #196
My thoughts ..

The only thing I've consistently missed over the years is the total lines in the buffer (hence this RFE). But I never need the "byte" of "total bytes" info. I'd be happy to have that replaced by "lines / total lines", and the bytes info could be demoted to somewhere optional. That would free up some room. Or the L:123 C:55 could become L:123 of 456 C:55 (that would be fine for me).

[2020-12-30 20:24] eteran commented on #196
@grege2 I totally agree that NEdit's minimal wasted space in the UI is a big part of its appeal.

[2020-12-31 02:42] tksoh commented on #196
Personally, I prefer a new status bar at the bottom, or even on top (as long as it's configurable), of the editor window.

I've been reading Joel Spolsky's blog lately (thanks to @sjtringali, though I wished I had discovered it 20 years earlier), specifically [this one](https://www.joelonsoftware.com/2000/04/22/consistency-and-other-hobgoblins/) in this case. Status bar is becoming quite a norm on

[2020-12-31 02:46] tksoh commented on #196
I hate confusions. Perhaps we can put it under the File menu instead. This is after all about a file.

While we are there, maybe we should also add a menu to open the folder containing the file? ;-)

[2020-12-31 03:24] tksoh commented on #196
I added this to my original list

[2020-12-31 04:25] eteran commented on #196
Well, I think that would be a pretty unconventional feature for a File menu. I don't think I've seen any editors that offer something like a "copy filename to clipboard" feature under File. So I think adding it to the tab context menu is a decent option.

To be clear, I don't think there would be confusion over how it works. More like confusion over "I used to be able to copy from the statistics l

[2020-12-31 05:10] tksoh commented on #196
The general understanding is that nobody read manuals, let alone changelog. I think we should keep stats line in 6.0, that way hopefully by the time we remove/hide it in 6.1, they should already know about the context menu.

Backward compatibility is certainly on top of the list, which include macros too, naturally. But IMHO, we would need something significant enough to entice the existing nedit-

[2020-12-31 16:38] eteran commented on #196
Sure, I do think that NG has some pretty noteworthy advancements beyond just using a new toolkit :-). The list I'd make probably includes:

* HiDPI support
* Antialiased fonts
* native macOS and Windows support
* Better font support
* modernized UI
* Minor bug fixes

**Personally**, I would consider that enough to justify a point release for any application, but obviously, a lot of this boils down

[2020-12-31 21:59] sjtringali commented on #196
Here is my suggestion.

Soon, stop new feature development, or at least, move them over to a separate branch destined to be 6.1. (You could also elect to use the SF site as a 6.0 release branch, somehow I doubt it.) Focus like a laser on making as compatible as possibly, avoiding features, and bug-free as possible. Pretty standard in the industry and how I ran NEdit, I would branch off for the bet

[2020-12-31 22:02] sjtringali commented on #196
PS: I think the modern font support ALONE is worth a 6.0, let alone the extra niceties we get for free from Qt. We had to wait forever for Motif support it.

By the time they did, we lost the developers to code it in the main text widget. I hated the nasty fonts and and changed the widgets over ASAP, but that was long after development stagnated.
     On Thursday, December 31, 2020, 12:10:50 AM ES

[2020-12-31 22:36] eteran commented on #196
Please do file bug reports so I can iron out all those details!

I can say that some things on this liat appear to work fine for me, so reproduction instructions would help a LOT! 🙂

[2021-01-01 03:37] eteran commented on #196
@sjtringali

So I **think** I have addressed all of the missing accelerators, please let me know if any are outstanding.
I also think that the `nc` not raising the window has been fixed in an already merged PR.

Regarding the other issues, please let me know what else is still not quite right. Especially regarding ctags not working, an example file triggering the failure would be fantastic if it's

[2021-01-02 06:13] marilmanen opened #238 "slowdown"
This is an issue that has been causing minor issues for a long time.
I have now been editing some files heavily during past days. Selecting text, changing tabs etc are working a bit slower all the time. It feels like a network latency, but it's not caused be my network connection although I'm running nedit in a remote desktop. Here is what "top" is showing for the process
[code]
First I opened the

[2021-01-02 06:30] eteran commented on #238
Hmm, well 1.8g resident is an awful lot of RAM to be using so I imagine that's a factor at play. I would also guess that the usage creeps up over time as your instance was open for over 10 days.

I'll investigate any memory leaks for sure, but also, can you speak to how large the files you are editing are (on average, no need to be precise). Would you say that your typical working set is on the or

[2021-01-02 06:31] eteran commented on #238
Also, can you say if you are doing a release, debug, or Release with debug info build? It should default to a RelWithDebInfo and if you're using a Debug build, I'd expect a HUGE performance hit.

[2021-01-02 07:05] tksoh opened #239 "new split pane always start displaying from line #1"
when creating a a new split pane, the new pane always starts displaying from first line. Nedit classic would scroll the new pane to match the original pane.

![2021-01-02 14_57_15-Window](https://user-images.githubusercontent.com/494222/103452556-cf21a600-4d0b-11eb-8783-92a298babf37.jpg)

[2021-01-02 07:11] eteran commented on #239
A good find! I think this should generally be an easy fix :-)

[2021-01-02 07:20] eteran commented on #239
Merged in a general fix!

There is one quirk to it, and it's not easy to address at all. Basically, there is no obvious way in Qt to know which of a split pane is the "active one" So this patch simply scrolls to where the first pane is (I think the vast majority of the time people are looking for 2 panes, so this is typically the right behavior).

So I'll have to leave this issue open as "mostly f

[2021-01-02 07:34] marilmanen commented on #238
I have been working with small text files, average size in less than 10 kilobytes so the total amount of data in the open files at any time has most likely been less than 10Mbytes. Ending up to 1.8G process size is a mystery for me. The host I'm using has >100G free RAM, so I'm not expecting any issues from that part.
I have not used any options for the build.

[2021-01-02 07:39] eteran commented on #238
Well that makes for an interesting mystery indeed!

Ok, well I'll be investigating this, but I do worry that it'll be particularly tough to track down.

Please do occasionally sync up with the master branch just in case I "accidentally fix it" in an unrelated patch though 😜

[2021-01-02 08:01] marilmanen commented on #238
I updated to latest version and opened couple small files. While keeping "top" running I just switched between tabs and each tab change increases the process size so at least that's one odd way to increase the process size.

[2021-01-02 09:29] tksoh commented on #239
On Windows 10, I am getting a crash if I load a file, scroll down a few line, split. Have not tried on Linux.

Here's the Application output of Qt Creator:

![2021-01-02 17_20_11-Window](https://user-images.githubusercontent.com/494222/103454510-e5d1f800-4d1f-11eb-986f-86519bae29db.jpg)

[2021-01-02 15:07] eteran commented on #239
Well, that's not good! LOL

The weird thing is that `QVector` is used in so few places and none of them are really related to the split pane stuff.

Could you try a fresh rebuild (clear out the build directory first), could it be a strange issue with a mix of new code and old code being linked together somehow?

[2021-01-02 17:21] lester96 opened #241 "Unable to assign shortcut keys to macros"
I have a lot of macros that I used with NEdit-5 that had shortcut keystrokes assigned with an Alt-key. None of these shortcuts work now, to use the macros I have to click on entries in the macro menu. Even the learn macro shortcut, which was Alt-K does not work. I am running Linux with a KDE desktop, if that matters.

[2021-01-02 17:52] eteran commented on #239
OK, built on windows and have replicated locally. Investigating...

[2021-01-02 18:14] eteran commented on #239
Should be fixed in master now that I have merged https://github.com/eteran/nedit-ng/pull/242

[2021-01-02 18:20] eteran commented on #239
Please reopen if this problem continues

[2021-01-02 18:20] #239 closed

[2021-01-02 18:38] eteran commented on #238
Interesting, I did the same and it does indeed very slowly creep up. There are no meaningful explicit allocations happening during a tab focus change, but I'll see if there is something I'm doing that has the side effect of an allocation.

You continue to be excellent at finding these unusual quirks! Thanks for your help :-).

[2021-01-02 19:40] eteran commented on #241
Assigning shortcut keys to macros certainly should work, and I can say that Alt+K works locally for me on KDE, so I have a few questions to help get to the bottom of this.

1. For your macros, does it show the shortcut next to the menu items?
2. For manually assigning accelerators in the macro commands menu, do you see the accelerator shortcut in the accelerator textbox?
3.Are you SURE it is all s

[2021-01-03 03:32] eteran commented on #238
As a following, I have a test methodology at the moment. I open up about 6-10 tabs, note the memory usage, and then hold down Ctrl+PageDown (which will CONSTANTLY switch to the "next" tab). When I do this, memory usage does slowly creep up. It's not a huge effect, but the fact that I'm switching probably 20+ times a second makes it visible.

base on this test, I have narrowed down the suspected le

[2021-01-03 03:39] tksoh commented on #238
Just wondering, those nice tools out there for detecting memory leak couldn't find the leak?

[2021-01-03 03:43] eteran commented on #238
Sadly, I did try those, but I ran into a wall.

Basically, valgrind is the main tool I would use, but my system Qt is compiled with SSE4 enabled, and valgrind simply doesn't support it.

So I **could** use valgrind, but only if I custom compiles a less optimized version of Qt, and link to that (or wait till valgrind adds support for the few instructions more it needs). But it would be a lot of tim

[2021-01-03 03:51] eteran commented on #238
OK! I think I know what the issue is (at least when switching tabs).

For those curious, it's in `MainWindow::updateUserMenus`, which every time a tab is switched, ensures that all of the custom menus show the right things. This is a fairly dynamic process because things like language modes can effect which menu items are present.

I believe that because this is **creating** action items, it is sl

[2021-01-03 04:41] eteran commented on #238
@marilmanen Please try the new master and let me know if this issue continues :-)

[2021-01-03 05:28] marilmanen commented on #238
I updated to version 7559876 and did the Ctrl+PageDown test with two empty files Untitled and Untitled_1. Initial process size was 48k and when the process CPU time hit 30s I stopped the test. CPU load was ~100% during the test so something heavy is ongoing there. Now the process size is
[code]
I repeated the same test with version a8e46e4 and got practically the same result, so I'm confused. I do

[2021-01-03 05:53] marilmanen commented on #238
One more strange thing happened with the latest version. I have lost some items in the macro drop-down. "Complete Word" "Fill Sel w/Char", "Quote Mail Reply" and "Unquote Mail Reply" do not exist anymore. I don't mind losing some of them but and I'm so heavy "Fill Sel w/Char" user that I have attached shortcut Alt+U for it in my config files.

[2021-01-03 05:58] eteran commented on #238
Sorry!

OK, @tksoh reported the same thing. So my "fix" seems to have a bad side effect of removing macros. I believe that thewy won't be removed from the actual config files. So bear with me as I look into this.

[2021-01-03 06:15] eteran commented on #238
@marilmanen @tksoh

OK, I just pushed a fix for the disappearing menu issue. I think it's correct and doesn't display the issue locally Anymore.

@marilmanen You can expect that switching tabs CONSTANTLY will cause high CPU usage as you are asking it to do constant work. It is repeatedly tearing down and recreating the custom menus which won't be "free".

For me, 6 empty tabs idles like this:

[co

[2021-01-03 06:51] eteran commented on #238
@marilmanen Another small improvement to this operation. Since you've got a lot of macros, presumably in sub-menus, this latest fix make help things for you a bit.

[2021-01-03 07:02] eteran commented on #238
Update, I was accidentally testing with the version built with address sanitizer. Now when I do the untitled tab cycle test, memory usage doesn't budge at all.

So I believe that if it is still moving up for you, that the particular macros you have are a factor.

Would you be willing to share a tgz of your config directory for me to try to reproduce locally?

[2021-01-03 08:15] marilmanen commented on #238
I updated to the latest version and I think you have solved the issue. Process size is not increasing anymore and as a side effect also the CPU load remains at ~20% during the  Ctrl+PageDown test.  I'll continue working with this version and let you know in case I notice the slowness again, but typically slowness detection has required several day's of work....

[2021-01-03 13:48] eteran commented on #238
Thanks!

[2021-01-03 16:13] sjtringali commented on #196
Yeah. I noticed a few things when using it for work, I’m usually pressed for time and hack at him. Will get to it.. if not fix it myself.

[2021-01-03 19:23] eteran commented on #238
OK, closing this because the specific issue of memory usage climbing over time due to tab switching has been addressed. Please open a new issue if the slowdown persists and we'll investigate it if/when it happens :-).

[2021-01-03 19:23] #238 closed

[2021-01-04 08:04] marilmanen opened #249 "crashes with version 2020.1-135-g78752b2"
Unfortunately it's me again. I have started getting daily crashes (yesterday and today), but I have not yet figured out what triggers the crash. I have removed some of the files that are open in nedit-ng, so maybe there's still something wrong in that area.... This crash happened when I tried to run a macro.
[code]

[2021-01-04 11:44] marilmanen commented on #249
I created empty files f1, f2 and f3 and added a macro containing just command open("f2"), Then I did random modifications to f1 and f3, added there also text f2 and started closing f2 and opening it with the macro and sometimes by selecting the "f2" text in the f1 file and pressing Ctrl+Y. After couple iterations nedit will always crash.

[2021-01-04 11:45] marilmanen commented on #249
I forgot to mention that I have also tested version 2020.1-136-gb8e63d4 and the issue exists also with that version

[2021-01-04 15:19] eteran commented on #249
Hmm, seems to involve a context menu, will investigate!

[2021-01-04 15:25] eteran commented on #249
@marilmanen Can you send me your `.config` directory tarred up, I have a feeling this is triggered by settings and custom menus

[2021-01-04 15:44] eteran commented on #241
@lester96 By any chance are all the shortcuts you are testing on the "window background" (aka context) menu? I just noticed a quirk with Qt where that doesn't work out of the box.

[2021-01-05 01:37] tksoh opened #251 "incorrect tab position and misalignment in macro editing text widget"
Just noticed something strange in macro editor:

1. Tab seems to expand to somewhere between 12 to 13 spaces, instead of 8.
2. The text ("AAA") after a tab charactor does not aligned properly

Note:
- backlighting is ON in the main editor (tab is shown as darker gray)
- using version 2020.1-137-ge5143422 on Windows 10 with Qt 5.9

![2021-01-05 09_35_56-Macro Commands](https://user-images.githubuse

[2021-01-05 02:43] eteran commented on #251
My guess is that this is a font issue. I'll take a look and see what the story is.

But I can say that this is yet more motivation for using the macro editor to be the same widget as the main text editor.

[2021-01-05 03:05] tksoh commented on #251
That'd be nice.

Perhaps we can also think about letting users develop macro using the main editor. I actually have a patch for nedit 5 to do that, but it requires changes to the macro language (mainly on assigning menu and shortcut) in order to fully support that, so its usefulness is kind of limited at the moment. But it's another idea to consider. The use of YAML files in NG might make things e

[2021-01-05 03:12] tksoh commented on #251
This is how my patch looks like...

![2021-01-05 11_11_22-toshiba (tksoh-Satellite-L645_1 (tksoh)) - VNC Viewer](https://user-images.githubusercontent.com/494222/103602396-e5677600-4f46-11eb-90e1-f38badd5a71c.jpg)

[2021-01-05 05:00] marilmanen commented on #249
@eteran I sent my settings to your gmail address

[2021-01-05 05:06] eteran commented on #251
Cool, I can imagine a UI where for a macro you just click on "edit" and it opens up a new NEdit tab, you edit the file and save it and it automatically gets saved into the macro settings seemlessly.

[2021-01-05 05:07] eteran commented on #249
@marilmanen thanks!

I'll check it out and let you know what I discover. It's probably something stupid, :-P.

[2021-01-05 05:41] eteran commented on #249
@marilmanen so... so far, I have been hammering your example with your settings. I made a few macros for opening files "f1", "f2",  and "f3". Connected them to some keyboard shortcuts and have been rapid-fire opening and closing these files...

So far, no crash :-(.

I've done random edits, saved, closed, re-opened.
edits, no-save, close, re-open
every combination I can think of.

If there's anyth

[2021-01-05 06:37] marilmanen commented on #249
I manage to get it crashing, but I'm not able to figure out just how..... I do have a feeling that the it helps to get the crash if the open("f2") macro is executed more than one times in a row and it does crash only by using the open("f2") macro, select tab f2 or f3 and closing f2 tab. No need to have any content on any of the files and the tab f1 does not seem to play any role.

[2021-01-05 06:44] tksoh commented on #251
Perhaps we could just edit the yaml file in the main editor, and parse it to update as we hit save/apply. We do need to be able to tell the yaml is for macros.

[2021-01-05 07:58] eteran commented on #249
@marilmanen I know you are a heavy `nc` user. I just fixed two major bugs regarding that, which MAY affect this (maybe).

basically, I made `-wait` work, LOL. It was accidentally timing out after 30 seconds and I fixed a pretty bad bug regarding using `nc` to launch `nedit-ng` where it would put things in a state that could crash on some operations. The second one has the best chance of being the

[2021-01-05 08:02] eteran commented on #249
Gah, I just realized that the `startDetached` function that I pretty much need is only available in Qt 5.10 a newer. So either I need to raise the requirements or hack around it.

[2021-01-05 08:05] eteran commented on #249
Nvm, I lucked out. The variant of the function I used became available in 5.5 :-) According to this:

https://doc.qt.io/archives/qt-5.5/qprocess.html#startDetached

[2021-01-05 08:16] marilmanen commented on #249
Hmm, some new issue now, I can't start nedit anymore with my "mystery" command
[code]

[2021-01-05 08:29] eteran commented on #249
Hmm, assuming `sc` will launch nedit-ng, I would expect it to work.

Does it work if you have it run nedit more directly? Is it only an issue when `sc` is in the command?

[2021-01-05 08:59] marilmanen commented on #249
Looks like there's some issue related with the wrapper I'm using and after a quick look at the wrapper I'm not sure it's needed anymore. I need to check why I'm still using the wrapper.

[2021-01-05 10:26] marilmanen commented on #249
OK, I definitely have some old nedit related strange ways to start the editor, but I have been trying to understand what's going on and just can't figure out what. Can you explain? Create executable /tmp/wrap script with content
[code]
The /tmp/wrap.pl content is
[code]
and finally the command line for starting nedit
[code]
With version 2020.1-136-gb8e63d4 everything works fine, but with 020.1-139

[2021-01-05 14:37] marilmanen commented on #249
I have removed the extra complexity from my startup script as I found no need for the -svrcmd option anymore. In the old nedit I used the -svrcmd to add common .nedit setup with the -import option on top of user settings, but now all settings are aligned in the .config directory by my wrapper script (that's the config_user.ini). This is how I should have done it in the previous millennia with the

[2021-01-05 15:18] eteran commented on #249
@marilmanen did that script ever work with NG? I see that it works with classic nedit, but even when I try it with 2020.1, I get a failure to start the script.

Is it supposed to have a perl shebang in it?

[2021-01-05 15:22] eteran commented on #249
Yea, I dunno what the story is with the eval, exec perl stuff, I can't get that to work with any version of NG I've tried (does with with NEdit-5... so that's interesting).

However, if I changed your script to be one file and simply read:

[code]

Then it works as expected. However, I can say that the script, doesn't seem to be doing very much. I assume you normally have something like: `nedit-ng

[2021-01-05 16:55] anjohnson commented on #249
@eteran That change to client/nc.cpp in commit 59eab07f3bece appears to have fixed some problems I've been having for ages with it not opening multiple files properly! It's still not perfect, but when nc-ng starts the server at least it now opens all the files on that command-line as tabs in the same window (previously I might get one Untitled window and a mixture of windows with one or more tabs

[2021-01-05 17:01] eteran commented on #249
Thanks for the update. So you get one file per window? Interesting...

I'll have to test that a bit more, I hope now that things are executing correctly that it'll be an easier fix 🙂

[2021-01-05 17:23] anjohnson commented on #249
That was on macOS; on Linux running nc-ng with a list of several files to start the server just opened a single Untitled window, but a subsequent run with that server running opened all the files as tabs in that window, so the behavior is definitely OS-specific.

[2021-01-05 17:29] eteran commented on #249
So weird...

I can say that the "single Untitled but not the requested file" sounds like it started NG, but failed to connect to the server for some reason. I'll try to debug that situation.

But I just tried both the not already running and already running scenarios and I got the expected behavior of a single nedit window with all files open, no untitled every time.

Being both OS and seemingly d

[2021-01-05 17:37] anjohnson commented on #249
I was connecting to Linux remotely via NoMachine (NX) so that might be slowing down some of the X11 interactions, although I'm not certain of that since it's sending updates of my whole desktop asynchronously. My Linux box is faster than this Mac with lots of idle CPUs though, so it might have more to do with that. HTH, got to get back to work.

[2021-01-06 03:57] eteran commented on #249
@anjohnson every little bit helps. I just pushed a minor set of tweaks which do a few things

1. Displays a message informing you if `nc` failed to connect to the server.
2. Make the various timeouts a little more clear for testing
3. Increased the connection timeout by 100%

So... when you get a chance it would be very helpful to test 2 things for me :-)

First, is the current server start timeou

[2021-01-06 04:55] marilmanen commented on #249
@eteran I found a very simple way to get the crash with 2020.1-140-g5a64da5.
[code]

[2021-01-06 05:10] eteran commented on #249
Thanks!, lemme see if I can replicate :-)

[2021-01-06 05:23] eteran commented on #249
@marilmanen Unfortunately, so far, I can't reproduce it locally. This is a fresh build. Tried in both Release and Debug builds.

https://user-images.githubusercontent.com/571477/103732181-e20ad380-4fb4-11eb-8981-9e4f72662c67.mp4

I do have a question though based on the stack trace you shared above, it looks like the issue is SOMEHOW related to context menus.

So there's two things I'm wondering i

[2021-01-06 05:29] anjohnson commented on #249
I just built 5a64da51a862a on MacOS. Starting a server with nc-ng and a couple of files and it worked as expected. I used nc-ng to open one more file and it opened it instantly, but it its own window, not as a separate tab (I have the preference Tabbed Editing -> Open File in New Tab checked, and things like File -> Open and Cmd+Y do that properly).

Then I quit that server and ran nc-ng again wit

[2021-01-06 05:34] eteran commented on #249
OK, and just to be sure, this is after a `make install` meaning that it is **definitely** using the new code, right?

[2021-01-06 05:49] anjohnson commented on #249
Yup, I checked that SHA against the one in the Help About window.

[2021-01-06 06:02] marilmanen commented on #249
@eteran Unfortunately same crash with 2020.1-140-g5a64da5-dirty, so commenting out lines 1468-1500 didn't help

[2021-01-06 06:02] eteran commented on #249
@anjohnson OK, I'm inspecting the code to see what I can spot. One question that comes to mind...

What do you see on the command line if you add the following line to src/NeditServer.cpp on line 230 (just above `int lastIconic = 0;`):

[code]

?

You should see a pretty large JSON array, with an entry for each file you asked to open along with a bunch of flags.

(WARNING, it will have the full pa

[2021-01-06 06:03] eteran commented on #249
And you got the same stack trace that has this in the middle?

[code]

[2021-01-06 06:06] eteran commented on #249
@marilmanen OK, if so, I have another thing to test by commenting out :-P.

What if you comment out lines 710-714 of src/DocumentWidget.cpp?

[code]

[2021-01-06 06:25] marilmanen commented on #249
@eteran I commented out also the lines 710-714 and now it seems to crash about 8 times out of 10 trials. Previously it crashed each time I tried, but the amount of trials was the not big enough for any real statistics.

[2021-01-06 06:29] eteran commented on #249
@marilmanen

OK, that's super strange because with those lines commented, there is essentially no more connection to any changes introduced in  2020.1-135-g78752b2.

if you are using a debug build, can you share stack traces? Are they the same as the first one you shared?

[2021-01-06 07:04] marilmanen commented on #249
@eteran I managed to get the crash also in my personal Ubuntu laptop with the latest code. It does not happen each time I try, but it does happens about every second time. I have tested with the lates code and with the out commented lines.

[2021-01-06 07:07] marilmanen commented on #249
@eteran Here is the stack trace
[code]

[2021-01-06 07:08] eteran commented on #249
Ok, well I'll have to try it in an Ubuntu VM and see if that helps reproduce it.

What version of ubuntu do you use?

[2021-01-06 07:10] marilmanen commented on #249
I'm using 20.04.1 with Xfce 4.14

[2021-01-06 07:11] eteran commented on #249
Also, I assume you are triggering the macro via the main menu, not the context menu
, Right?

I ask because while the stack traces are different, they both appear to involve mouse events in the callstack.

[2021-01-06 07:54] marilmanen commented on #249
Yes, with the commented lines the main menu is the only available option. I also tested without mouse and the result is same.

[2021-01-06 08:12] eteran commented on #249
Ok, last question for the night 😜.

Does your desktop do the ubuntu style unified menu thing?

I have a new theory as to what could cause the crash. Basically, I'm thinking that when a new document is opened, it can trigger a user menu recreation while IN the menu event handler. So we may be deleting the soon to be replaced menu a bit too soon.

It's just a theory, but I think it fits and would be

[2021-01-06 09:00] marilmanen commented on #249
It's 11am here, so I'm just getting into speed. I'm not sure what a "ubuntu style unified menu thing" is, but I see the issue in Centos and Ubuntu, so I think it's Xfce related and I do use the "Window Buttons" panel.

[2021-01-06 11:56] TeLLie opened #252 "Error when building under OS2"
Hello,
I tried to compile with OS2
I use cmake 3.15.3 and gcc v9.2.0 and Qmake v5.13.1
Make failed with a lot of errors like:

[ 78%] Building CXX object src/CMakeFiles/nedit-ng.dir/HighlightPatternModel.cpp.o
E:/qt5-src/nedit-ng/src/DocumentWidget.cpp: In member function 'void DocumentWidget::checkForChangesToFile()':
E:/qt5-src/nedit-ng/src/DocumentWidget.cpp:2070:13: error: 'using element_type

[2021-01-06 14:48] eteran commented on #249
@marilmanen the unified menu is the single meny at the top of the desktop for all applications, like on macOS. But you're right, maybe it's an Xfce thing. Now that I have details of your setup, I'll create a VM and see if I can reproduce with those things in place. If I can reproduce it, I can fix it :-P.

[2021-01-06 14:52] eteran commented on #252
Oh wow, an OS2 user, I've never met one! Thanks for giving NEdit-NG a try :-).

So I can definitely put in a patch to fix those specific errors, windows needed a similar patch. However, I can say that I have NO ability to test things against OS2. So I'll be flying a little bit blind.

But, we'll see what we can do, and if you're willing/able to work with me a little bit back and forth, hopefully,

[2021-01-06 15:05] TeLLie commented on #252
Hi,
Im pleased to help, in what way :)
So i'm ready

[2021-01-06 15:14] eteran commented on #252
@TeLLie Awesome. So I've started a download for OS2WARP4 from WinWorld, so that MAYBE I'll be able to run it in a VM. But I'm about to start my work day. I'll push  a patch for the specific errors you are seeing later today, and we can go from there!

I see that you have qt5 built for OS2, which is pretty awesome since as far as I know, it's not officially supported (Qt doesn't define a macro targ

[2021-01-06 15:23] TeLLie commented on #252
Hi
Nope it's  not official in the QT repo
But we use as a macro Q_OS_OS2)
look @ arcanoae.com for the latest info as warp4 is way to old

[2021-01-06 15:38] eteran commented on #252
Very cool, I'll check it out later. Is the Qt port open source where I can look at how some things were implemented? That may help!

[2021-01-06 15:44] TeLLie commented on #252
Hi,
Most software that is ported to OS2 you will almost fine here...
https://github.com/bitwiseworks
https://github.com/bitwiseworks/qt5-os2

[2021-01-06 15:46] TeLLie commented on #252
But the Qt5 port is not ported 100% yet
They now porting the chrominium part, as there just a few peeps that are porting stuff to OS/2

[2021-01-06 17:32] anjohnson commented on #249
Interesting, makes some sense:
[code]

The third time (`src/*.h`) I just got the Untitled window.

I also did `nc-ng -debug-proto src/*.h` and got back a long JSON string, here's a sample from the start and end:
[code]

BTW the `nc-ng -version` output could probably use the new Git version info too.

I also tried `nc-ng -tabbed src/*.ui` with a server already running; the files still all opened in

[2021-01-06 18:33] eteran commented on #249
@anjohnson No worries! this is helpful :-).

I see two issues that you are experiencing:

1. when you for just the untitled window, you didn't get any JSON output. That means that for some reason, the message wasn't received at all. But you also didn't get any error message saying it failed to connect... So for some reason, the packet just disappeared... strange. I actually forgot about the `--deb

[2021-01-06 18:42] eteran commented on #249
@anjohnson makes me wonder if you're running into this error:

`QLocalSocket::DatagramTooLargeError`

In which case, I'll have to break up the message into several to send it.

Can you try adding a debug line and testing the case where it opens nothing?

Try adding:

[code]

on line 487 of client/nc.cpp, so it reads like this:

[code]

When things worked correctly, it should output:

[code]

[2021-01-06 19:02] eteran commented on #249
@anjohnson OK, I've been able to replicate the issue with "just untitled", for me I have to open a stupidly large number of files, but I can trigger it reliably.

Basically, it seems to an issue with the amount of data I'm allowed to send in the pipe. I'll see what can be done to stream it properly.

[2021-01-06 19:10] anjohnson commented on #249
Getting warmer, but that doesn't fully explain this:
[code]

I did just trigger these too, which are a bit different:
[code]

[2021-01-06 19:50] eteran commented on #249
@anjohnson I think/hope that my next push to master will address the "just seeing Untitled" issue when opening large sets of files. It also will fix the fact that release builds had all log output effectively disabled. That wasn't intentional :-P.

[2021-01-06 19:54] eteran commented on #249
OK, @anjohnson pushed to master. I believe that this will fix half of your issue :-). And you should see better feedback when something goes wrong ;-P

[2021-01-07 02:46] eteran commented on #252
@TeLLie Cool. So I have a plan to fix this particular set of errors. Since Qt for OS/2 is unfinished, that of course doesn't garauntee that NEdit-NG will work. But we'll slowly try. I'll post here when I've patched it. I've got some other stuff in flight, so it may be a few days though

[2021-01-07 03:22] eteran commented on #249
@marilmanen reproduced! XFce does indeed seem to be a factor, I'll do my best to resolve this ASAP!

[2021-01-07 03:48] eteran commented on #249
@marilmanen perhaps fixed in master?!?

NOTE, now that I've fixed debug logging, on some platforms we get "Warning: QCoreApplication::postEvent messages".

I am going to look into that, but it seems mostly harmless for now aside from cluttering the console.

[2021-01-07 04:38] marilmanen commented on #249
Great, it seems to work or at least no more crashes with the simple ways I had previously.

[2021-01-07 04:45] eteran commented on #249
@marilmanen FANTASTIC!

I can say that I snuck in a quick context menu fix after my last comment. So if you're not QUITE up to date, it is recommended to update (sorry for the rapid-fire commits, but when I'm in a groove I tend to just bang out code).

I'm going to close this issue! Please re-open/open a new issue if a similar problem occurs.

@anjohnson I think we should track your issue with a n

[2021-01-07 04:45] #249 closed

[2021-01-07 04:46] eteran opened #253 "nc-ng in some circumstances doesn't open requested documents in tabs"
Getting warmer, but that doesn't fully explain this:
[code]

I did just trigger these too, which are a bit different:
[code]

_Originally posted by @anjohnson in https://github.com/eteran/nedit-ng/issues/249#issuecomment-755537554_

[2021-01-07 04:47] eteran commented on #253
This issue was brought up by @anjohnson in #249 . The core issue was two fold.

1. That nc-ng would fail for large sets of files (I believe fixed)
2. That nc-ng would open each file in a new window despite tab settings.

[2021-01-07 06:42] marilmanen opened #254 "macro dialogs to be always on top"
This just a change proposal to make dialog and list_dialog pop-up windows to be always on top. Sometimes it's just annoying to search for the dialogs and I can't figure out when always on top property could be an issue for those dialogs.

[2021-01-07 07:48] grege2 commented on #254
Interesting idea. On the one hand, I confess that sometimes when I mark a Find or Replace Dialog box as "Keep Dialog" it gradually drifts behind other stuff and then you have to go hunting for it, if you've even remembered it was a Keeper. But on the other hand ... dialogs that force themselves to be "on top" can be a huge annoyance .. like the Mac generic OS Help window, which is always on top, a

[2021-01-07 08:02] TeLLie commented on #252
Hi
That's fine with me..
I wait for the patches 🥺
Thankz so far for the help👍

Op do 7 jan. 2021 03:47 schreef Evan Teran <notifications@github.com>:

[2021-01-07 08:16] tksoh commented on #254
@grege2 On Find or Replace Dialog, I'm not sure what you meant by 'drifting', but the dialogs are supposed to tag alongside their parent window when we bring the window to front. I double checked this behavior on Windows 10 and Linux Mint. Is this not true on your system?

In any case, even if the Find/Replace dialog somehow 'drifted' behind other stuff, you can always press ctrl-F/R in the editor

[2021-01-07 15:00] eteran commented on #254
Interesting idea, I can certainly make this an optional feature that is off by default and enabled by a setting in the config file.

[2021-01-07 16:30] anjohnson commented on #253
I don't think that first issue is completely fixed, sorry!

The tests below were using nedit-ng version 2020.1-147-g63130309 on MacOS Mojave.

Starting a server and trying to open 104 files in a single command gives me this:
[code]
and just a single "Untitled" window opens.

When starting a server and opening 69 files though (`nc-ng src/*.cpp`) they all open up properly in a single window with no

[2021-01-07 18:41] eteran commented on #253
So, yea if you get an error on the command line, you'll only see an untitled window. That's because it launched the server, which defaults to showing an untitled window, and then fails to open any documents.

When the server is already running, is it on a separate desktop or anything like that? There is logic to try to find windows on the "current screen", but I'm wondering if it has flaws.

As fo

[2021-01-07 19:00] eteran commented on #253
@anjohnson Can you give this PR a try and see if it helps at all?

https://github.com/eteran/nedit-ng/pull/255

I don't know if you have X11 libs installed on your mac, but if you do then the nedit server would be using that to try to find existing windows (and maybe failing?).

This makes it so on mac, it always using the "Qt way of doing things". I'd like to go pure Qt all the time, but there we

[2021-01-07 19:12] anjohnson commented on #253
In that case it was just regular MacOS, no X11 or ssh forwarding involved.

I just built the same code on my RHEL-7.9 Linux system:
[code]

I'm connecting to that machine through NX, but to the applications it just looks like the local screen (DISPLAY is `:0`). There are some more (different) issues there related to the screen and fonts which I don't have time to describe right now, but running `n

[2021-01-07 19:41] grege2 commented on #254
Hi @tksoh Sorry I should have highlighted more that I'm on Mac. No my Find or Replace (or any non-Modal Dialog, like the Macro Command editor) is completely divorced from the main window, and doesn't come forward when you raise the main window. If you invoke it again with Cmd-F it does come up, but with an empty search field, so if you want to Search Again with the previous search term you have to

[2021-01-07 22:31] grege2 commented on #254
Hi, I just downloaded and built branch "alternate-nc-desktop-detection" which seems to only an hour old. The Mac Find dialogs still behave the same, ie. they do not come forward when the main window is raised.

I also tested the same with the current master branch.

FYI, I'm getting this stdio/stderr msg at startup:
"Populating font family aliases took 351 ms. Replace uses of missing font family "

[2021-01-07 22:47] eteran commented on #254
@grege2

That branch isn't intended to fix that problem. It's looking to solve an issue that @anjohnson is experiencing with `nc` on macOS.

As for the font messages, that just means that something is trying to use the font Monospace, but that doesn't exist on your system so it's using a substitute somewhere.

As for the about dialog, if you are building from a git clone, and do a cmake after, the

[2021-01-08 01:02] tksoh commented on #254
@grege2 I am rather surprised to hear that dialogs (not app window) do follow their parent windows on Mac OSX. I wonder if other apps on the platform are the same on this aspect, or if this is something unique to Qt on OSX. Maybe @eteran knows better ;-)

[2021-01-08 01:04] tksoh commented on #254
Perhaps that message can be simplified to avoid alarming users unnecessarily?

[2021-01-08 01:08] eteran commented on #254
I'd love to, but it's produced by Qt itself. So my only real option is to find a way to avoid it.

I think I can do it, just gotta figure out the best way.

[2021-01-08 02:22] grege2 commented on #254
@eteran Thanks for the tips on Github and branches, I am not very savvy there. I will test it again more carefully.
Re the fonts message, it didn't alarm me, since I was seeing all the discussion here about such things, but I guess it could confuse someone new to nedit-ng.

@tksoh I will think about what else does/doesn't "follow" ie. raise nicely. But the only thing that comes to mind is nedit-ng

[2021-01-08 02:58] anjohnson commented on #253
I just built this on MacOS:
[code]

Running `nc-ng src/*.h` succeeded in that it started the server and opened all the files in separate tabs belonging to the one window. Closing the window is reasonably quick.

Running `nc-ng src/*.h` with an already-running server opened all the files, each one was in a separate window and by the end of the list it was taking about a second to open each one. Clo

[2021-01-08 03:29] anjohnson commented on #253
Using this version:
[code]

Hmm, the first time I ran this I first started an Untitled server, then (after pasting the above from its About box) I ran my usual `nc-ng src/*.h`. The window immediately disappeared, and a few seconds later an Apple dialog "nedit-ng quite unexpectedly" popped up, with a Report button which causes a nice Problem Report window to appear, from which I have extracted the

[2021-01-08 04:37] eteran commented on #253
Looks like a NULL pointer (access to an address bear zero usually means a bull pointer reference via a strict member)

I really need to setup a mac to test things!

In other news, I reworked in both this and master how how list is sent to the server.

Did that fix (in master) the issue of large lists failing?

[2021-01-08 05:47] anjohnson commented on #253
In NeditServer.cpp line 208:
[code]
`QApplication::activeWindow()` is returning NULL, which `screenFromWidget()` doesn't check for or handle.

[2021-01-08 06:50] marilmanen commented on #254
One possible solution would be to add always on top as a optional argument to the dialog and macro_dialog commands. This would allow maximum flexibility. Many of the macro commands already support optional arguments so this could be easy to implement.

[2021-01-08 07:32] anjohnson commented on #253
Yes, I think your fix in 9f50e446cf6b717fecd9ee9b23fa2a95e17b532b has solved the problem of passing long lists of files from nc-ng to the server.

I just realized that my issues have to be related to the fact that I'm using 2 screens on this laptop, the built-in one and a TV, and all my tests have been run from a terminal window on the TV. `nc-ng` normally creates the Untitled window on the same s

[2021-01-08 08:45] tksoh opened #256 "close tab button issue on Linux Mint"
On Linux with Qt 5.9.5, somehow the close tab button appears as a kind of 'window' button, rather than the usual [X] on Windows with Qt 5.9.9 (foreground in the attached screenshot, which is also same as nedit-5).

![2021-01-08 16_39_15-Untitled](https://user-images.githubusercontent.com/494222/103993559-c11eca00-51d0-11eb-86ac-e23513b81698.jpg)

[2021-01-08 08:59] tksoh commented on #254
IMO, this is probably not the best behavior. Perhaps we should detect if the dialog is already up, and just place the focus on the dialog without clearing the search string. Something to consider on your TODO list, @eteran ?

[2021-01-08 15:40] eteran commented on #253
@anjohnson Yea, I think I see what's going on here... maybe. I have an idea of how to fix it, but we'll see if it works. Basically, I think that the code to "find a window on the 'current desktop'" is always failing, even after creating a window.

So I think the solution is that if a window is created at all, then remember that one and use it as the target for future documents regardless of which

[2021-01-08 15:42] eteran commented on #256
So that's a theming issue. Some desktops use that icon as the "close-tab" button. I am considering embedding a better choice like I have for other icons into the nedit binary since I agree, that icon is terrible.

[2021-01-08 15:44] eteran commented on #256
This is what it looks like with KDE, much better :-P

![image](https://user-images.githubusercontent.com/571477/104034116-76845a00-519e-11eb-9591-fc3acb2ad4db.png)

[2021-01-08 17:17] anjohnson commented on #253
I suspect the issue is that the code to find what screen a window is on may be returning a different result at different times. You have multiple threads here, and this evidence that I found earlier should be explainable by whatever theory you come up with:

Actually that description might be slightly wrong, the difference seems to be whether the focus belongs to the Untitled window when the serve

[2021-01-08 22:39] eteran commented on #253
@anjohnson Can you give master another go, I just made a small tweak in light of the fact that sometimes there isn't an "activeWindow" yet.

[2021-01-08 22:49] eteran commented on #256
OK, this is a weird one... I already **DO** have it built into the theme. I'll get to the bottom of it though. It looks like it is for some reason ignoring my theme stuff... just for that function.

[2021-01-08 23:24] eteran commented on #256
It gets even weirder, it is for some reason, using the "window" icon from the theme as the close-tab button. No idea why, LOL

[2021-01-08 23:37] anjohnson commented on #253
No change; if I drag the Untitled window to the built-in screen a subsequent `nc-ng README.md` opens it in that window, but if the Untitled window is on the TV where my terminal window is it opens in a new window. There _is_ an active window in this case, but I suspect it isn't being used because the screen ID it's on doesn't match.

Feel free to send me a patch that prints out each window's scree

[2021-01-08 23:54] eteran commented on #256
@tksoh

OP, possibly fixed in master (is in the VM that I ran to replicate). There seems to be a bug in Qt that it is using the icon for "window" when in the close it looks like it's trying to pull from "window-close". But I've worked around it by renaming the theme entry to "whole-window" which seems to avoid this weird name collision.

Please re-open if the problem is not fixed.

[2021-01-08 23:54] #256 closed

[2021-01-09 02:13] eteran commented on #253
@anjohnson can you try this PR? https://github.com/eteran/nedit-ng/pull/257 ?

It tries extra hard to use the window for all documents opened by a single nc request.

[2021-01-09 12:52] marilmanen opened #258 "ubuntu font warning"
I'm getting following warning when starting nedit-ng in my laptop with version 39c11d87.
Warning: NEdit: a variable width font has been specified. This is not supported, and will result in unexpected results
I tried also removing my .config/nedit-ng directory, but I still get the message.

[2021-01-09 16:47] eteran commented on #258
Sounds like the font that you are using is not a true fixed-width font.

This message occurs when the font fails the `fixedPitch()` test.

Perhaps try another font? Or of you REALLY like that font, it's just a warning, you can ignore it without much consequence (so long as you don't ask NG to render any characters which are not the standard width.